<div class="sidebar-block">
  <div class="sidebar-block__heading">
    <alpaca-heading
      class="sidebar-block__title"
      :level="2"
    >
      {{ heading }}
    </alpaca-heading>
    <span class="sidebar-block__counter">
      {{ productsCount }} items
    </span>
  </div>
  <alpaca-divider class="sidebar-block__divider" />
  <template v-if="productsCount">
    <alpaca-list
      list-tag="ol"
      class="sidebar-block__list"
    >
      <alpaca-list-item
        v-for="product in products"
        :key="product.id"
        :default-class="false"
        class="sidebar-block__item"
      >
        <alpaca-button
          class="sidebar-block__remove"
          :default-class="false"
          icon="close"
          icon-class="sidebar-block__remove-icon"
          :default-icon-class="false"
          aria-label="Remove product from compare"
          @click="removeFromCompare"
        />
        <router-link
          class="link sidebar-block__link"
          :to="product.link"
        >
          {{ product.name }}
        </router-link>
      </alpaca-list-item>
    </alpaca-list>
    <div>
      <router-link
        class="button button--link sidebar-block__action"
        :to="comparePageUrl"
      >
        {{ compareButton }}
      </router-link>
      <alpaca-button
        class="sidebar-block__action"
        @click="clearCompareList"
      >
        {{ clearAllButton }}
      </alpaca-button>
    </div>
  </template>
  <p v-else>
    {{ noProductsMessage }}
  </p>
</div>
