<transition :name="modalMainTransition">
  <div
    v-show="visibility"
    :aria-hidden="ariaHidden"
    :aria-labelledby="ariaLabelledby"
    :aria-describedby="ariaDescribedby"
    class="a-modal"
    role="dialog"
  >
    <div
      @click.self="handleBackgroundClick"
      class="a-modal__mask"
    ></div>
    <transition :name="modalContentTransition">
      <div
        class="a-modal__content"
        v-show="visibility"
        ref="modal"
        role="document"
        tabindex="0"
        @keydown="handleKeydown"
      >
        <div
          v-if="heading || closeButton"
          class="a-modal__header"
        >
          <!-- @slot Custom heading (Scoped slot) -->
          <slot
            name="heading"
            :modal-heading="heading"
          >
            <a-heading
              v-if="heading"
              :level="2"
              class="a-modal__heading"
            >
              {{ heading }}
            </a-heading>
            <a-divider
              v-if="heading"
              class="a-modal__divider a-modal__divider--header"
            />
          </slot>
          <a-button
            v-if="closeButton"
            @click.native="hide()"
            class="a-modal__close-button"
            :aria-label="closeButtonAriaLabel"
          >
            <!-- @slot Custom close icon (Named slot) -->
            <slot name="close">
              <a-icon
                icon="close"
                class="a-modal__close-icon"
              />
            </slot>
          </a-button>
        </div>
        <!-- @slot Modal content -->
        <slot/>
      </div>
    </transition>
  </div>
</transition>
