@import '../../../assets/styles/_globals.scss';

$modal__padding                      : $reset !default;
$modal__background-color\@medium     : rgba(57, 50, 67, 0.6) !default;
$modal__z-index                      : 100 !default;
$modal__animation-duration           : 400ms !default;

$modal__header-margin                : 0 0 $spacer--large 0 !default;

$modal__heading-margin               : $reset !default;
$modal__heading-font-size            : $font-size-large !default;
$modal__heading-color                : $gray-darker !default;

$modal__divider-margin               : $spacer--large 0 0 0 !default;

$modal__mask-z-index                 : 100 !default;

$modal__content-z-index              : 101 !default;
$modal__content-width                : 100% !default;
$modal__content-width\@medium        : calc(100% - (2 * #{$spacer--medium})) !default;
$modal__content-width\@extra-large   : 80% !default;
$modal__content-min-width            : 320px !default;
$modal__content-max-width\@medium    : 496px !default;
$modal__content-max-width\@large     : 624px !default;
$modal__content-height               : 100% !default;
$modal__content-height\@medium       : auto !default;
$modal__content-padding              : 24px $spacer--medium !default;
$modal__content-padding\@medium      : 56px $spacer--large !default;
$modal__content-padding\@large       : 56px 112px !default;
$modal__content-background-color     : $white !default;
$modal__content-border               : none !default;
$modal__content-box-shadow\@medium   : 0 4px 6px 0 rgba(51, 51, 51, 0.3) !default;
$modal__content-animation-duration   : 400ms !default;

$modal__close-button-height          : auto !default;
$modal__close-button-margin          : 0 0 0 auto !default;
$modal__close-button-padding         : $reset !default;
$modal__close-button-border          : none !default;
$modal__close-button-background-color: transparent !default;
$modal__close-button-icon-color      : $color-primary !default;
$modal__close-button-icon-size       : 18px !default;
$modal__close-button-icon-transition : $transition-base !default;

.a-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $modal__z-index;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: $modal__padding;
  animation-duration: $modal__animation-duration;

  &__mask {
    @include mq($screen-m) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: $modal__mask-z-index;
      width: 100%;
      height: 100%;
      background-color: $modal__background-color\@medium;
    }
  }

  &__content {
    position: relative;
    z-index: $modal__content-z-index;
    display: block;
    width: $modal__content-width;
    min-width: $modal__content-min-width;
    height: $modal__content-height;
    padding: $modal__content-padding;
    overflow: auto;
    background-color: $modal__content-background-color;
    border: $modal__content-border;
    animation-duration: $modal__content-animation-duration;

    @include mq($screen-m) {
      width: $modal__content-width\@medium;
      max-width: $modal__content-max-width\@medium;
      height: $modal__content-height\@medium;
      padding: $modal__content-padding\@medium;
      box-shadow: $modal__content-box-shadow\@medium;
    }

    @include mq($screen-l) {
      max-width: $modal__content-max-width\@large;
      padding: $modal__content-padding\@large;
    }

    @include mq($screen-xl) {
      width: $modal__content-width\@extra-large;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: $modal__header-margin;
  }

  &__heading {
    display: flex;
    flex: 1;
    align-items: center;
    margin: $modal__heading-margin;
    color: $modal__heading-color;
    font-size: $modal__heading-font-size;
  }

  &__divider {
    margin: $modal__divider-margin;

    &--header {
      flex: 100%;
      order: 1;
    }
  }

  &__close-button {
    min-width: $reset;
    height: $modal__close-button-height;
    margin: $modal__close-button-margin;
    padding: $modal__close-button-padding;
    background-color: $modal__close-button-background-color;
    border: $modal__close-button-border;

    &:hover,
    &:focus {
      background-color: $modal__close-button-background-color;
    }
  }

  &__close-icon {
    width: $modal__close-button-icon-size;
    height: $modal__close-button-icon-size;
    transition: $modal__close-button-icon-transition;

    &:hover,
    &:focus {
      fill: $modal__close-button-icon-color;
    }
  }
}
