<nav
  :aria-label="breadcrumbsNavAriaLabel"
  class="a-breadcrumbs"
>
  <ol class="a-breadcrumbs__list">
    <li
      class="a-breadcrumbs__list-item"
      v-for="(breadcrumb, i) in breadcrumbs"
      :key="`breadcrumb-${i}`"
    >
      <template v-if="breadcrumbs.length === i + 1">
        <!-- @slot Current page (Scoped slot) -->
        <slot
          name="current"
          :breadcrumb="breadcrumb"
        >
          <router-link
            :to="breadcrumb.href"
            :aria-label="breadcrumb.text"
            aria-current="page"
            class="a-breadcrumbs__link a-breadcrumbs__link--current"
          >
            {{ breadcrumb.text }}
          </router-link>
        </slot>
      </template>
      <template v-else>
        <!-- @slot Previous pages (Scoped slot) -->
        <slot
          name="previous"
          :breadcrumb="breadcrumb"
        >
          <router-link
            :to="breadcrumb.href"
            :aria-label="breadcrumb.text"
            class="a-breadcrumbs__link"
          >
            {{ breadcrumb.text }}
          </router-link>
        </slot>
        <!-- @slot Separator (Named slot) -->
        <slot name="separator">
          <span class="a-breadcrumbs__separator">
            /
          </span>
        </slot>
      </template>
    </li>
  </ol>
</nav>
