@import '../../../assets/styles/globals';

$breadcrumbs__list-margin                 : 0 !default;
$breadcrumbs__list-padding                : 0 !default;
$breadcrumbs__font-size                   : $font-size-small !default;
$breadcrumbs__line-height                 : 1.5 !default;
$breadcrumbs__link-color                  : $black !default;
$breadcrumbs__link-color--hover           : $blue !default;
$breadcrumbs__link-color--current         : $blue !default;
$breadcrumbs__link-pointer-events--current: none !default;
$breadcrumbs__link-text-decoration        : none !default;
$breadcrumbs__separator-margin            : 0 $spacer !default;
$breadcrumbs__separator-color             : $breadcrumbs__link-color !default;

.a-breadcrumbs {
  font-size: $breadcrumbs__font-size;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: $breadcrumbs__list-margin;
    padding: $breadcrumbs__list-padding;
    list-style: none;
  }

  &__link {
    color: $breadcrumbs__link-color;
    line-height: $breadcrumbs__line-height;
    text-decoration: $breadcrumbs__link-text-decoration;

    &:hover {
      color: $breadcrumbs__link-color--hover;
    }

    &--current {
      color: $breadcrumbs__link-color--current;
      pointer-events: $breadcrumbs__link-pointer-events--current;
    }
  }

  &__separator {
    margin: $breadcrumbs__separator-margin;
    color: $breadcrumbs__separator-color;
    line-height: $breadcrumbs__line-height;
  }
}
