@import '../../../assets/styles/globals';

$product-item__padding                 : $spacer--large 0 !default;
$product-item__border                  : 1px solid $gray-light !default;
$product-item__image-width             : 160px !default;
$product-item__image-padding           : 0 $spacer--medium 0 0 !default;
$product-item__name-weight\@medium     : $font-weight-bold !default;
$product-item__name-width              : 65% !default;
$product-item__name-padding\@medium    : 0 $spacer--medium 0 0 !default;
$product-item__attributes-margin       : 0 0 $spacer--medium 0 !default;
$product-item__actions-item-margin     : 0 0 0 $spacer !default;
$product-item__actions-item-padding    : 0 $spacer--medium 0 0 !default;
$product-item__button-border           : none !default;
$product-item__button-background       : none !default;
$product-item__action-button-background: $gray-darker !default;
$product-item__action-icon-fill-color  : $gray-darker !default;

.product-item {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  padding: $product-item__padding;
  border-bottom: $product-item__border;

  &__image {
    flex: 0 0 35%;
    max-width: $product-item__image-width;
    padding: $product-item__image-padding;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
  }

  &__data {
    display: flex;
    flex-flow: row wrap;
  }

  &__name {
    flex: 1;
    margin-bottom: $spacer;
    line-height: $font-line-height;
    text-decoration: none;

    @include mq($screen-m) {
      padding: $product-item__name-padding\@medium;
      font-weight: $product-item__name-weight\@medium;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    text-align: right;

    @include mq($screen-m) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: baseline;
    }

    &--special,
    &--old {
      margin-bottom: $spacer;
    }
  }

  &__qty {
    display: flex;
  }

  &__qty-label {
    align-self: center;
    margin: 0 $spacer 0 0;
    font-weight: normal;
  }

  &__action-buttons-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__attributes {
    margin: $product-item__attributes-margin;
    margin-right: $spacer;
    flex: 100%;
    font-size: $font-size-small;

    @include mq($screen-m) {
      font-size: $font-size-base;
    }
  }

  &__actions {
    display: flex;
    padding: $product-item__actions-item-padding;
    flex-direction: column;
    justify-content: space-between;

    @include mq($screen-m) {
      padding: $reset;
      flex-direction: row;
    }

    &--to-right {
      justify-content: flex-end;
    }
  }

  &__action-button {
    border: $product-item__button-border;
    background: $product-item__button-background;

    &:hover,
    &:focus {
      background: $product-item__button-background;
    }
  }

  &__action-icon {
    fill: $product-item__action-icon-fill-color;
  }

  &__actions-item {
    margin: $product-item__actions-item-margin;
  }
}
