<component
  :is="itemTag"
  :id="id"
  class="product-item"
>
  <div class="product-item__image">
    <a-image
      :src="image"
      :alt="name"
    />
  </div>
  <div class="product-item__info">
    <div class="product-item__data">
      <router-link
        :to="url"
        class="link link--inverted product-item__name"
      >
        {{ name }}
      </router-link>
      <a-price
        :price="price"
        :special-price="specialPrice"
        :old-price="oldPrice"
        class="product-item__price-wrapper"
        old-price-class="product-item__price-wrapper--old"
        special-price-class="product-item__price-wrapper--special"
      />
      <a-list
        tag="dl"
        class="list--description product-item__attributes"
      >
        <template v-for="item in options">
          <a-list-item
            tag="dt"
            class="list--description__label"
          >
            {{ item.label }}
          </a-list-item>
          <a-list-item
            tag="dd"
            class="list--description__value"
          >
            {{ item.value }}
          </a-list-item>
        </template>
      </a-list>
    </div>
    <div
      :class="[
        'product-item__actions',
        { 'product-item__actions--to-right': !$slots.quantity }
      ]"
    >
      <div
        v-if="$slots.quantity"
        class="product-item__qty-wrapper"
      >
        <slot name="quantity"/>
      </div>
      <div
        v-if="removeButton"
        class="product-item__action-buttons-wrapper"
      >
        <a-button
          class="product-item__action-button"
          :aria-label="removeButton || defaultRemoveBtnAriaLabel"
          custom-class="product-item__actions-item"
          @click="onRemove(id)"
        >
          <a-icon
            icon="remove"
            class="product-item__action-icon"
          />
        </a-button>
      </div>
    </div>
  </div>
</component>
