@import 'styles/globals';

$table__padding      : $spacer--medium !default;
$table__row__padding : $table__padding 0 !default;
$table__border-radius: $border-radius !default;
$table__border       : 1px solid $gray-light !default;

.table {
  tr {
    display: block;
    padding: $table__row__padding;
    border-bottom: $table__border;

    @include mq($screen-m) {
      display: table-row;
      padding: $reset;
      border-bottom: $reset;
    }
  }

  thead {
    tr {
      padding: $reset;
      border-bottom: $reset;

      @include mq($screen-m) {
        border-top-left-radius: $table__border-radius;
        border-top-right-radius: $table__border-radius;
      }
    }

    th {
      &:first-child {
        @include mq($screen-m) {
          border-top-left-radius: $table__border-radius;
        }
      }

      &:last-child {
        @include mq($screen-m) {
          border-top-right-radius: $table__border-radius;
        }
      }
    }
  }
}
