<div class="quantity-update">
  <label
    v-if="label !== ''"
    :class="['quantity-update__label', labelClass]"
    :for="inputId"
  >
    {{ label }}
  </label>
  <div class="quantity-update__qty">
    <a-button
      :icon-title="decrementIconTitle"
      :aria-label="decrementAriaLabel"
      :class="[
        'button--icon quantity-update__button quantity-update__button--minus',
        {'quantity-update__button--disabled': currentValue === 0},
        decrementButtonClass
      ]"
      icon="minus"
      icon-class="button__icon quantity-update__icon"
      @click="changeValue(--currentValue)"
    />
    <a-input
      v-model="currentValue"
      :id="inputId"
      :label="inputAriaLabel"
      :min="inputMin"
      :max="inputMax"
      :name="inputName"
      :placeholder="inputPlaceholder"
      :input-default-class="false"
      type="number"
      class="quantity-update__input-wrapper"
      input-class="quantity-update__input"
      autocomplete="off"
      hidden-label
      @input="changeValue"
    />
    <a-button
      icon="plus"
      :icon-title="incrementIconTitle"
      :aria-label="incrementAriaLabel"
      :class="[
        'button--icon quantity-update__button quantity-update__button--plus',
        incrementButtonClass
      ]"
      icon-class="button__icon quantity-update__icon"
      @click="changeValue(++currentValue)"
    />
  </div>
</div>
