@import '../../../assets/styles/_globals.scss';

// Label
$quantity-update__label-font-size                  : $font-size-base !default;
$quantity-update__label-font-weight                : $font-weight-bold !default;

// Input
$quantity-update__input-wrapper-margin             : 0 !default;
$quantity-update__input-border                     : 1px solid $gray-dark !default;
$quantity-update__input-width                      : 48px !default;
$quantity-update__input-color                      : $gray-dark !default;

// Button
$quantity-update__button-background                : $white !default;
$quantity-update__button-border                    : 1px solid $gray-dark !default;
$quantity-update__button-background-hover--disabled: $white !default;
$quantity-update__button-fill-hover--disabled      : $gray !default;

// Icon
$quantity-updater__icon-fill                       : $gray-dark !default;
$quantity-updater__icon-spacing                    : 18px !default;
$quantity-updater__icon-fill-hover                 : $color-primary !default;
$quantity-updater__icon-transition                 : $transition-base !default;

// Error
$quantity-updater__error-margin                    : 0 0 0 $spacer !default;
$quantity-updater__error-max-width                 : 120px !default;

.quantity-update {
  &__label {
    font-weight: $quantity-update__label-font-weight;
    font-size: $quantity-update__label-font-size;
  }

  &__qty {
    display: flex;
  }

  &__input-wrapper {
    margin: $quantity-update__input-wrapper-margin;
  }

  &__input {
    width: $quantity-update__input-width;
    height: $quantity-update__input-width;
    color: $quantity-update__input-color;
    text-align: center;
    border-top: $quantity-update__input-border;
    border-right: 0;
    border-bottom: $quantity-update__input-border;
    border-left: 0;
    border-radius: 0;
    appearance: none;

    &:focus {
      outline: none;
    }
  }

  &__button {
    margin: 0;
    background: $quantity-update__button-background;
    border: $quantity-update__button-border;

    &--plus {
      border-left: 0;
      border-radius: 0 100% 100% 0;
    }

    &--minus {
      border-right: 0;
      border-radius: 100% 0 0 100%;
    }

    &--disabled {
      pointer-events: none;

      &:hover,
      &:focus {
        background: $quantity-update__button-background-hover--disabled;

        .quantity-update__icon {
          fill: $quantity-update__button-fill-hover--disabled;
        }
      }

      .quantity-update__icon {
        fill: $quantity-update__button-fill-hover--disabled;
      }
    }
  }

  &__icon {
    width: $quantity-updater__icon-spacing;
    height: $quantity-updater__icon-spacing;
    fill: $quantity-updater__icon-fill;

    &:hover,
    &:focus {
      fill: $quantity-updater__icon-fill-hover;
      transition: $quantity-updater__icon-transition;
    }
  }

  // Disable spin buttons in number input type
  input[type="number"]::-webkit-outer-spin-button, // sass-lint:disable-line no-vendor-prefixes
  input[type="number"]::-webkit-inner-spin-button { // sass-lint:disable-line no-vendor-prefixes
    margin: 0;
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  }

  input[type="number"] { // sass-lint:disable-line no-vendor-prefixes
    -moz-appearance: textfield; // sass-lint:disable-line no-vendor-prefixes
  }
}
