<div class="brief-info">
  <alpaca-heading
    v-if="level"
    :level="level"
    class="brief-info__heading"
  >
    {{ heading }}
  </alpaca-heading>

  <ul class="list brief-info__items-container">
    <li
      v-for="{ key, item } in getItemsWithKey"
      :key="key"
      class="brief-info__item"
    >
      <span
        :class="['brief-info__icon-wrapper', iconWrapperClass]"
        :aria-label="item.iconLabel"
      >
        <icon
          :icon="item.icon.iconId"
          :class="['brief-info__icon', iconClass]"
        />
      </span>

      <div class="brief-info__content">
        <component
          :is="titleTag"
          class="brief-info__title"
        >
          {{ item.title.text }}
        </component>
      </div>
    </li>
  </ul>
</div>
