<div class="a-rating">
  <a-button
    v-for="item in localItems"
    :key="`item_${item.val}`"
    :class="[
      'a-rating__button a-button--blank',
      (selected === item.val) && 'selected',
       buttonClass
     ]"
    :aria-label="buttonAriaLabel(item.val)"
    @mouseover.native="setActive(item, true)"
    @mouseleave.native="setActive(item, false)"
    @click.native="select(item)"
    :disabled="!!average"
  >
    <!-- @slot Rating item (Scoped slot) -->
    <slot
      name="item"
      :item="item"
    >
      <a-icon
        :title="buttonAriaLabel(item.val)"
        :style="{
          fill: item.isActive || item.selected ? activeColor : inactiveColor
        }"
        :class="[
          'a-rating__icon',
          item.isActive && 'a-rating__icon--active',
          iconClass
        ]"
      >
        <!-- @slot Custom active icon (Named slot) -->
        <slot
          name="customIcon"
          v-if="showIcon(item)"
        >
          <a-icon-star />
        </slot>
        <!-- @slot Custom inactive icon (Named slot) -->
        <slot
          name="customUncheckedIcon"
          v-else
        >
          <a-icon-star-border />
        </slot>
      </a-icon>
      <a-icon
        v-if="showAverageIcon(item) && !isIE"
        title="buttonAriaLabel(item.val)"
        :style="{ clipPath: showAverage, fill: !item.isActive && activeColor }"
        :class="[
          'a-rating__icon',
          'a-rating__icon--disabled',
          iconClass
        ]"
      >
        <a-icon-star />
      </a-icon>
    </slot>
  </a-button>
</div>
