<transition name="fade">
  <div
    v-show="visibility"
    :aria-hidden="ariaHidden"
    :aria-labelledby="ariaLabelledby"
    :aria-describedby="ariaDescribedby"
    class="off-canvas-sidebar"
    role="dialog"
  >
    <div
      @click.self="handleBackgroundClick"
      class="off-canvas-sidebar__mask"
    ></div>
    <transition name="slide-right">
      <div
        :class="[
          'off-canvas-sidebar__content',
          {
            'off-canvas-sidebar__content--blank': blank,
            'off-canvas-sidebar__content--left': side === 'left'
          }
        ]"
        v-show="visibility"
        ref="offCanvasSidebar"
        role="document"
        tabindex="0"
        @keydown="handleKeydown"
      >
        <div class="off-canvas-sidebar__header row between-xs">
          <slot name="heading">
            <alpaca-heading
              v-if="!blank"
              :level="1"
              class="off-canvas-sidebar__heading"
            >
              {{ heading }}
            </alpaca-heading>
          </slot>
          <button
            v-if="closeButton && !blank"
            @click="toggle(false)"
            class="button button--icon off-canvas-sidebar__close-button"
            type="button"
          >
            <alpaca-icon
              icon="close"
              class="off-canvas-sidebar__close-button-icon"
            />
          </button>
        </div>
        <alpaca-divider
          v-if="!blank"
          class="off-canvas-sidebar__divider"
        />
        <slot/>
      </div>
    </transition>
  </div>
</transition>
