<div class="select">
  <a-label
    :for="id"
    :hidden="hiddenLabel"
    :inline="inlineLabel"
    :class="['select__label', labelClass]"
  >
    {{ label }}
   </a-label>
  <div class="select__field">
    <select
      :id:="id"
      :name="name"
      :class="['select__input', selectClass]"
      @focus="$emit('focus')"
      @blur="$emit('blur')"
      @change="$emit('input', $event.target.value)"
    >
      <option v-if="!selected" />
      <option
        v-for="(option, key) in options"
        :key="key"
        :value="option.value"
        :selected="option.value === selected"
      >
        {{ option.text }}
      </option>
    </select>
  </div>

  <template v-if="validations">
      <span
        v-for="(validation, index) in currentValidations"
        :key="index"
      >
        {{ validation.text }}
      </span>
  </template>
</div>
