<div :class="['dropdown-list', {
  'dropdown-list--inner': inner,
  'dropdown-list--secondary': secondary,
  'dropdown-list--dark': dark,
  'dropdown-list@screen-m dropdown-list--is-open@screen-m': screenM
  }]"
>
  <ul :class="['dropdown-list__list', listClass]">
    <slot v-if="!items" />
    <template v-else v-for="element in items">
      <a-dropdown-list-item
        v-if="element.content"
        :title="element.title"
        :key="element.id"
        :collapse="true"
        id="element.id"
      >
        <template v-if="!isArray(element.content)">
          {{element.content}}
        </template>
        <a-dropdown-list v-else :items="element.content"/>
       </a-dropdown-list-item>
      <a-dropdown-list-link
        v-else
        :key="element.id"
        :title="element.title"
        :href="element.href"
      />
    </template>
  </ul>
</div>
