<component
  :is="tag"
  :type="tag !== 'a' ? type : null"
  :class="[
    {
      button: tag && defaultClass,
      'button--icon': icon && defaultClass,
      'button--secondary': secondary,
      'button--blank': blank,
      'button--link': tag === 'a',
      'button--fluid': fluid
    }
  ]"
  :href="tag === 'a' && link"
  @click="onClick"
  >
  <slot />
  <alpaca-icon
    v-if="icon"
    :icon="icon"
    :class="[
      { 'button__icon': defaultIconClass },
      iconClass
    ]"
    :title="iconTitle || icon"
  />
</component>
