@import '~styles/globals';

$radio__margin         : 0 0 $spacer--medium 0 !default;
$radio__size           : $spacer--medium !default;
$radio__dot-size       : 6px !default;
$radio__label-font-size: $font-size-small !default;
$radio__label-color    : $black !default;
$radio__color-active   : $color-primary !default;
$radio__icon-border    : 1px solid $black !default;
$radio__icon-background: $color-primary !default;
$radio__icon-transition: $transition-base !default;

.radio {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: $radio__margin;
  color: $radio__label-color;
  cursor: pointer;

  &--selected {
    color: $radio__color-active;

    .icon {
      fill: $radio__color-active;
    }
  }

  &--selected &__icon::before {
    opacity: 1;
    transform: none;
  }

  &__label {
    position: relative;
    font-size: $radio__label-font-size;
    line-height: $radio__size;
  }

  &__icon {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: $radio__size;
    height: $radio__size;
    border: $radio__icon-border;
    border-radius: $radio__size;
    margin-right: $spacer;

    &::before {
      content: '';
      width: $radio__dot-size;
      height: $radio__dot-size;
      border-radius: $radio__dot-size;
      margin: auto;
      opacity: 0;
      transform: scale(0);
      background-color: $radio__icon-background;
      transition: $radio__icon-transition;
    }
  }

  &__input {
    @include visually-hidden();
  }
}
