<a-container>
  <div class="product-view">
    <a-breadcrumbs :breadcrumbs="breadcrumbs"/>
    <div class="product-view__wrapper">
      <div class="product-view__gallery">
        <a-gallery :images="gallery.images"/>
      </div>
      <div class="product-view__main-details">
        <div class="product-view__heading">
          <a-heading
            :level="1"
            class="product-view__title"
          >
            {{ product.name }}
           </a-heading>
          <!-- TODO: Use click event to open tab with reviews instead of links -->
          <a-review-summary
            :reviews-qty="product.reviews.length"
            add-review-link="#"
            amount-link="#"
          />
        </div>
        <div class="product-view__sku">
          {{ product.sku }}
        </div>
        <div class="product-view__stock-line">
          <a-price
            v-if="product.price.old && product.price.special"
            :old-price="product.price.old"
            :special-price="product.price.special"
            class="price--large"
          />
          <a-price
            v-else
            class="price--large"
          >
            {{ product.price.regular }}
          </a-price>
          <span
            v-if="product.qty > 0 && product.qty <= stockAlertMaxQty"
            class="product-view__stock-status product-view__stock-status--alert"
          >
            {{ inStockAlertText }}
            {{ product.qty }}
            {{ inStockAlertTextSuffix }}
          </span>
          <span
            v-else-if="product.qty > 0"
            class="product-view__stock-status"
          >
            {{ inStockText }}
          </span>
          <span
            v-else
            class="product-view__stock-status product-view__stock-status--out-of-stock"
          >
            {{ outOfStockText }}
          </span>
        </div>
      </div>
      <div class="product-view__secondary-details">
        <div class="product-view__description">
          {{ product.description }}
        </div>
        <div
          v-if="product.swatches"
          class="product-view__options"
        >
          <a-swatch
            color
            v-if="product.swatches.color"
            :options="product.swatches.color.options"
            :label="product.swatches.color.label"
            label-class="product-view__swatch-option-title"
          />
          <a-swatch
            image
            v-else-if="product.swatches.image"
            :options="product.swatches.image.options"
            :label="product.swatches.image.label"
            label-class="product-view__swatch-option-title"
          />
          <a-swatch
            v-if="product.swatches.text"
            :options="product.swatches.text.options"
            :label="product.swatches.text.label"
            label-class="product-view__swatch-option-title"
          />
        </div>
        <div class="product-view__main-actions">
          <div class="product-view__qty">
            <!-- TODO: Add method for price update -->
            <a-quantity-update/>
          </div>
          <div class="product-view__action-elements">
            <div class="product-view__add-to-cart">
              <!-- TODO: Add methods for action buttons -->
              <a-button class="product-view__add-to-cart-btn">
                {{ addToCartText }}
               </a-button>
            </div>
            <div class="product-view__extra-actions">
              <a-button
                icon="heart"
                :default-class="false"
                class="
                  product-view__action
                  product-view__action--button
                  product-view__action--wishlist
                "
              />
              <a-button
                icon="compare"
                :default-class="false"
                class="
                  product-view__action
                  product-view__action--button
                  product-view__action--compare
                "
              />
              <a-button
                icon="envelope"
                :default-class="false"
                class="
                  product-view__action
                  product-view__action--button
                  product-view__action--emailfriend
                "
              />
            </div>
          </div>
        </div>
        <div class="product-view__information">
          <!-- TODO: Remove mock from brief-info component -->
          <a-brief-info
            :items="briefInfo.items"
            :level="3"
            :heading="briefInfo.heading.text"
          />
        </div>
      </div>
    </div>
    <div class="product-view__tabs">
      <!-- TODO: Remove mock from tabs component (leave content), add reviews -->
      <a-tabs-container>
        <template v-for="tab in tabs">
          <a-tab
            :key="tab.tabId"
            :tab-id="tab.tabId"
            :title="tab.title"
            :active-tab="activeTab"
            icon="angle-down"
            @click="setActiveTab(tab.tabId)"
          />
          <a-tab-content
            :tab-id="tab.tabId"
            :title-id="tab.titleId"
            :active-tab="activeTab"
          >
            {{ tab.content }}
           </a-tab-content>
        </template>
       </a-tabs-container>
    </div>
    <div
      v-if="product.relatedProducts && product.relatedProducts.length"
      class="product-view__slider"
    >
      <a-heading tag="h3" :level="3">
        {{ relatedProductsLabel }}
       </a-heading>
      <a-slider>
        <slide
          class="slider__item product-view__slide-item"
          v-for="(product, index) in product.relatedProducts"
          :key="index"
        >
          <a-catalog-grid-item
            :product="product"
          />
        </slide>
       </a-slider>
    </div>
    <div
      v-if="product.featuredProducts && product.featuredProducts.length"
      class="product-view__slider"
    >
      <a-heading tag="h3" :level="3">
        {{ featuredProductsLabel }}
       </a-heading>
      <a-slider>
        <slide
          class="slider__item product-view__slide-item"
          v-for="(product, index) in product.featuredProducts"
          :key="index"
        >
          <a-catalog-grid-item :product="product"/>
        </slide>
       </a-slider>
    </div>
    <a-additional-content
      class="product-view__additional-content"
      v-if="banner.length"
      :picture="banner"
      :pictureAlt="bannerAlt"
      :first-column-text="firstColumnText"
      :second-column-text="secondColumnText"
    />
    </div>
  </div>
 </a-container>
