/* @import '../../../assets/styles/_globals.scss';

// common
$tabs__border-width: 8px !default;
$tabs__outline-focus            : $blue solid 1px !default;

// button
$tabs__button-padding: $spacer--medium !default;
$tabs__button-border            : $tabs__border-width solid $gray-lightest !default;
$tabs__button-border--active    : $tabs__border-width solid $color-primary !default;
$tabs__button-color             : $gray !default;
$tabs__button-color--active     : $gray-darker !default;
$tabs__button-font-weight       : $font-weight-bold !default;
$tabs__button-background        : $bg-color-base !default;
$tabs__button-background--active: $gray-lightest !default;

// content
$tabs__content-padding: $spacer--medium 0 !default;
$tabs__content-padding\@large   : $spacer--large $spacer--extra-large !default;

.a-tabs {
  display: flex;
  flex-wrap: wrap;

  &__nav-button {
    flex: 1;
    padding: $tabs__button-padding;
    color: $tabs__button-color;
    font-weight: $tabs__button-font-weight;
    background: $tabs__button-background;
    border: none;
    border-bottom: $tabs__button-border;
    cursor: pointer;

    &--active {
      color: $tabs__button-color--active;
      background-color: $tabs__button-background--active;
      border-bottom: $tabs__button-border--active;
    }

    &:focus {
      z-index: 1;
      outline: $tabs__outline-focus;
    }
  }

  &__content {
    flex: 100%;
    padding: $tabs__content-padding;

    &:focus {
      outline: $tabs__outline-focus;
    }

    @include mq($screen-l) {
      padding: $tabs__content-padding\@large;
    }
  }
} */
