@import '../../../assets/styles/globals';

$collapse__width                     : 100% !default;
$collapse__bg-color                  : $white !default;
$collapse__outline                   : none !default;
$collapse__transition-height         : height 0.3s !default;
$collapse__transition                : $transition-base !default;

// List item
$collapse__item-padding              : $spacer--medium !default;
$collapse__item-color                : $font-color-base !default;
$collapse__item-color--open          : $color-primary !default;
$collapse__item-bg-color             : $white !default;

// List icon
$collapse__icon-width                : 16px !default;
$collapse__icon-height               : 16px !default;
$collapse__icon-fill                 : $black !default;
$collapse__icon-fill-hover           : $color-primary !default;
$collapse__icon-fill--open           : $color-primary !default;

// screen-m list variables
$collapse-content-margin--screen-m  : $spacer $spacer--medium !default;

.collapse {
  position: relative;
  width: $collapse__width;
  background-color: $collapse__bg-color;

  &-button {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: $collapse__item-padding;
    color: $black;
    text-align: left;
    text-decoration: none;
    border: 0;
    border-radius: $reset;
    cursor: pointer;
    transition: $collapse__transition;

    &:hover,
    &:focus {
      color: $blue;
      text-decoration: none;
      outline: $collapse__outline;

      & > .collapse-button__icon {
        fill: $collapse__icon-fill-hover;
      }
    }

    &[aria-expanded="true"] {
      color: $collapse__item-color--open;

      & > .collapse-button__icon {
        transform: rotate(180deg);
        fill: $collapse__icon-fill--open;
      }
    }

    &__icon {
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      width: $collapse__icon-width;
      height: $collapse__icon-height;
      margin: auto;
      transition: $collapse__transition;
      fill: $collapse__icon-fill;
    }
  }

  &-content {
    overflow: hidden;
    transition: $collapse__transition-height;

    &[aria-hidden="true"] {
      height: 0;
    }
  }

  @include mq($screen-m) {
    &--is-open\@screen-m {
      .collapse-button {
        cursor: default;

        &:hover,
        &:focus {
          color: $collapse__item-color;
          background-color: $collapse__item-bg-color;
        }
      }

      .collapse__icon {
        display: none;
      }

      .collapse-content {
        height: auto;
        margin: $collapse-content-margin--screen-m;
      }
    }
  }
}
