@import '../../../assets/styles/_globals.scss';

$select__margin       : $spacer !default;
$select__padding      : 0 $spacer--medium 0 $spacer--medium !default;
$select__border       : 1px solid $form-elements-border-color !default;
$select__spacing      : 40px !default;
$select__arrow-color  : $gray-dark transparent transparent transparent !default;
$select__border-radius: 20px !default;

.select {
  margin-bottom: $select__margin;

  &__field {
    position: relative;
    padding: $reset;
    border: $select__border;
    border-radius: $select__border-radius;

    &::after {
      content: "";
      height: 0;
      width: 0;
      border-style: solid;
      border-color: $select__arrow-color;
      border-width: 5px;
      position: absolute;
      right: 11.5px;
      top: 50%;
      margin-top: -2.5px;
      pointer-events: none;
    }
  }

  &__input {
    padding: $select__padding;
    height: $select__spacing;
    line-height: $select__spacing;
    border: none;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: transparent;

    &:hover,
    &:focus {
      outline: none;
    }
  }
}
