@import '../../../assets/styles/_globals.scss';

$input-wrapper__margin-bottom: $spacer--medium !default;
$input-wrapper__label-margin : 0 $spacer--medium 0 0 !default;

.a-input-wrapper {
  margin-bottom: $input-wrapper__margin-bottom;

  &--inline {
    display: flex;
    align-items: center;

    .a-label {
      flex-shrink: 0;
      margin: $input-wrapper__label-margin;
    }
  }
}
