@import '../../../assets/styles/globals';

$radio__margin                        : 0 0 $spacer 0 !default;
$radio__vertical-align                : middle !default;
$radio__label-width                   : 100% !default;
$radio__label-font-size               : $font-size-small !default;
$radio__label-color                   : $black !default;
$radio__label-font-weight             : $font-weight-normal !default;
$radio__icon-size                     : 16px !default;
$radio__icon-margin                   : 0 $spacer 0 0 !default;
$radio__icon-border                   : 1px solid $black !default;
$radio__icon-border-radius            : 100% !default;
$radio__icon-border--checked          : 1px solid $black !default;
$radio__icon-transition               : $transition-base !default;
$radio__icon-box-shadow-inset         : inset 0 0 0 10px $white !default;
$radio__icon-box-shadow-inset--checked: inset 0 0 0 4px $white !default;
$radio__icon-background--checked      : $color-primary !default;


.a-radio {
  position: relative;
  margin: $radio__margin;

  &__field {
    position: absolute;
    opacity: 0;

    &:checked + .a-radio__label {
      .a-radio__icon {
        background-color: $radio__icon-background--checked;
        border: $radio__icon-border--checked;
        box-shadow: $radio__icon-box-shadow-inset--checked;
        opacity: 1;
        transition: $radio__icon-transition;
      }
    }
  }

  &__label {
    display: flex;
    width: $radio__label-width;
    color: $radio__label-color;
    font-weight: $radio__label-font-weight;
    font-size: $radio__label-font-size;
    cursor: pointer;
  }

  &__icon {
    display: inline-flex;
    min-width: $radio__icon-size;
    height: $radio__icon-size;
    margin: $radio__icon-margin;
    vertical-align: $radio__vertical-align;
    border: $radio__icon-border;
    border-radius: $radio__icon-border-radius;
    box-shadow: $radio__icon-box-shadow-inset;
  }

  &__text {
    display: inline-flex;
    vertical-align: $radio__vertical-align;
  }
}
