<footer class="a-footer">
  <a-container
    tag="div"
    class="a-footer__container"
  >

    <!-- @slot Scroll to top button (Scoped slot) -->
    <slot
      name="scrollButton"
      :scroll-to-top="scrollToTop"
    >
      <a-button
        class="a-footer__scroll-up"
        :aria-label="scrollAriaLabel"
        @click.native="scrollToTop"
      >
        <a-icon icon="arrow-up" />
      </a-button>
    </slot>

    <!--@slot Newsletter (Scoped slot)-->
    <slot
      name="newsletter"
      :submit-newsletter="submitNewsletter"
    >
      <a-newsletter
        class="a-footer__newsletter"
        :heading="heading"
        :input="input"
        button-text="Submit"
        :checkbox="checkbox"
        @submit="submitNewsletter"
      />
    </slot>

    <a-footer-menu
      :menu="menu"
      class="a-footer__menu"
    />
  </a-container>

  <section class="a-footer__bottom-bar">
    <a-container
      tag="div"
      class="a-footer__bottom-bar-container"
    >

      <!-- @slot Social media container (Named slot) -->
      <slot name="socias">
        <div class="a-footer__socials">

          <!-- @slot Social media title (Named slot) -->
          <slot name="socialTitle">
            <span class="a-footer__social-list-subtitle">
              {{ socialListSubtitle }}
            </span>
          </slot>

          <!-- @slot Social media list (Named slot) -->
          <slot name="socialItmes">
            <a-list class="a-list--horizontal a-footer__social-list">
              <a-list-item
                class="a-footer__social-list-item"
                v-for="item in socialList"
                :key="item.id"
                :aria-label="item.ariaLabel"
              >
                <a-link
                  style="display: block"
                  :href="item.link"
                  :aria-label="item.ariaLabel"
                >
                  <a-icon
                    :icon="item.iconId"
                    class="a-footer__social-icon "
                  />
                </a-link>
              </a-list-item>
            </a-list>
          </slot>
        </div>
      </slot>

      <!-- @slot Copyright text (Named slot) -->
      <slot name="copyright">
        <div class="a-footer__copyright">
          {{ copyrightText }}
        </div>
      </slot>

    </a-container>
  </section>

  <!-- @slot Cookie message (Named slot) -->
  <slot name="cookie">
    <a-cookie-message
      v-if="cookieMessage"
      :visible="cookieMessage.visible"
      :close-button="cookieMessage.closeButton"
      :close-aria-label="cookieMessage.closeAriaLabel"
      @close="closeCookieMessage"
    >
      {{ cookieMessage.text }}
    </a-cookie-message>
  </slot>
</footer>
