@import '../../../assets/styles/globals.scss';

$footer__padding                     : $spacer--medium !default;
$footer__background-color            : $gray-darkest !default;
$footer__background-color\@large     : $gray-darker !default;
$footer__bottom-bar-background\@large: $gray-darkest !default;
$footer__bottom-bar-color            : $gray-lighter !default;
$footer__bottom-bar-font-size        : $font-size-small !default;
$footer__handler-margin              : 0 auto $spacer--medium !default;
$footer__link-color                  : $gray-lighter !default;
$footer__link-color-hover            : $color-primary !default;
$footer__newsletter-margin           : 0 auto $spacer--medium !default;
$footer__newsletter-padding          : 0 $spacer--medium !default;
$footer__newsletter-color            : $white !default;
$footer__newsletter-link-color       : $color-primary !default;
$footer__newsletter-checkbox-width   : 24px !default;
$footer__newsletter-checkbox-height  : 24px !default;
$footer__newsletter-checkbox-margin  : 0 16px 0 0 !default;
$footer__content-color               : $white !default;
$footer__social-icon-color           : $white !default;
$footer__social-list-item-width      : 48px !default;
$footer__social-list-item-height     : 48px !default;
$footer__copywrite-padding           : $spacer--medium;
$footer__scroll-top-top              : -24px !default;
$footer__scroll-top-width            : 48px !default;
$footer__icon-fill-hover             : $color-primary !default;

.a-footer {
  flex-shrink: 0;
  background-color: $footer__background-color;

  @include mq($screen-l) {
    background-color: $footer__background-color\@large;
  }

  &__handler {
    position: relative;
    margin: $footer__handler-margin;
    padding-top: $footer__padding;

    @include mq($screen-m) {
      margin: 0 auto;
    }

    @include mq($screen-l) {
      display: flex;
    }
  }

  &__newsletter {
    margin: $footer__newsletter-margin;
    padding: $footer__newsletter-padding;
    color: $footer__newsletter-color;
    font-size: $font-size-small;

    .a-icon {
      width: auto;
      height: auto;
    }

    .a-checkbox__icon-wrapper {
      width: $footer__newsletter-checkbox-width;
      height: $footer__newsletter-checkbox-height;
      margin: $footer__newsletter-checkbox-margin;
    }

    a {
      color: $footer__newsletter-link-color;
    }

    @include mq($screen-l) {
      order: 1;
      padding-top: $footer__padding;
    }
  }

  &__links {
    width: 100%;
  }

  &__link {
    color: $footer__link-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $footer__link-color-hover;
    }
  }

  &__bottom-bar {
    color: $footer__bottom-bar-color;

    @include mq($screen-l) {
      background-color: $footer__bottom-bar-background\@large;
    }
  }

  &__bottom-bar-handler {
    @include mq($screen-m) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__social-handler {
    @include mq($screen-m) {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      order: 1;
    }
  }

  &__social-list {
    justify-content: center;

    &-item {
      width: $footer__social-list-item-width;
      height: $footer__social-list-item-width;
    }
  }

  &__social-list-subtitle {
    display: none;

    @include mq($screen-m) {
      display: block;
      margin-right: $footer__padding;
      font-size: $footer__bottom-bar-font-size;
    }
  }

  &__social-icon {
    fill: $footer__social-icon-color;
  }

  &__copyright {
    display: block;
    padding: $footer__copywrite-padding;
    font-size: $footer__bottom-bar-font-size;
    text-align: center;
  }

  &__scroll-top {
    position: absolute;
    top: $footer__scroll-top-top;
    right: 0;
    width: $footer__scroll-top-width;
  }

  &__icon {
    padding: $reset;

    &:hover,
    &:focus {
      .a-footer__icon {
        fill: $footer__icon-fill-hover;
      }
    }
  }
}
