@import '../../../assets/styles/_globals.scss';

$textarea__margin-bottom      : $spacer--medium !default;
$textarea__placeholder-color  : $gray !default;
$textarea__min-height         : 100px !default;
$textarea__label-margin       : 0 $spacer--medium 0 0 !default;
$textarea__field-width        : 100% !default;
$textarea__field-padding      : $spacer--medium !default;
$textarea__field-border       : 1px solid $form-elements-border-color !default;
$textarea__field-border-radius: $form-elements-radius--small !default;
$textarea__field-line-height  : $font-line-height !default;

.textarea {
  margin-bottom: $textarea__margin-bottom;

  &--inline {
    display: flex;
    align-items: center;

    .label {
      flex-shrink: 0;
      margin: $textarea__label-margin;
    }
  }

  &__field {
    display: block;
    width: $textarea__field-width;
    min-height: $textarea__min-height;
    padding: $textarea__field-padding;
    line-height: $textarea__field-line-height;
    border: $textarea__field-border;
    border-radius: $textarea__field-border-radius;

    &::placeholder {
      color: $textarea__placeholder-color;
    }
  }
}
