@import '../../../assets/styles/_globals.scss';

$password-strength__font-size                        : $font-size-small !default;
$password-strength__color                            : $gray !default;

$password-strength__label-margin                     : 0 $spacer 0 0 !default;

$password-strength__indicator-padding                : 2px $spacer--extra-large !default;
$password-strength__indicator-border                 : 1px solid $gray !default;
$password-strength__indicator-border-radius          : $spacer--large !default;

$password-strength__indicator-background             : $gray-lighter !default;
$password-strength__indicator-background--weak       : $red !default;
$password-strength__indicator-background--medium     : $yellow !default;
$password-strength__indicator-background--strong     : rgba($green, 0.75) !default;
$password-strength__indicator-background--very-strong: $green !default;

.password-strength {
  color: $password-strength__color;
  font-size: $password-strength__font-size;

  &__label {
    margin: $password-strength__label-margin;
  }

  &__indicator {
    position: relative;
    display: inline-block;
    padding: $password-strength__indicator-padding;
    background-color: transparent;
    border: $password-strength__indicator-border;
    border-radius: $password-strength__indicator-border-radius;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      border-top-left-radius: $password-strength__indicator-border-radius;
      border-bottom-left-radius: $password-strength__indicator-border-radius;
      content: '';

      .password-strength--weak & {
        width: 25%;
        background-color: $password-strength__indicator-background--weak;
      }

      .password-strength--medium & {
        width: 50%;
        background-color: $password-strength__indicator-background--medium;
      }

      .password-strength--strong & {
        width: 75%;
        background-color: $password-strength__indicator-background--strong;
      }

      .password-strength--very-strong & {
        width: 100%;
        background-color: $password-strength__indicator-background--very-strong;
        border-top-right-radius: $password-strength__indicator-border-radius;
        border-bottom-right-radius: $password-strength__indicator-border-radius;
      }
    }
  }
}
