@import '../../../assets/styles/globals';

$marketing-bar__padding: $spacer !default;
$marketing-bar__background-color: $color-primary !default;

$marketing-bar__text-padding: 0 32px 0 0 !default;
$marketing-bar__text-font-size: $font-size-base !default;
$marketing-bar__text-font-color: $gray-darker !default;
$marketing-bar__text-font-weight: $font-weight-bold !default;

$marketing-bar__button-size: 32px !default;
$marketing-bar__button-icon-color: $gray-darker !default;
$marketing-bar__button-icon-size: 18px !default;
$marketing-bar__button-icon-padding: 2px !default;

.a-marketing-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $marketing-bar__padding;
  background-color: $marketing-bar__background-color;

  @include mq($screen-m) {
    text-align: center;
  }

  &__text {
    flex-grow: 1;
    padding: $marketing-bar__text-padding;
    color: $marketing-bar__text-font-color;
    font-weight: $marketing-bar__text-font-weight;
    font-size: $marketing-bar__text-font-size;

    @include mq($screen-m) {
      padding: $reset;
    }
  }

  &__close {
    height: $marketing-bar__button-size;

    &:focus,
    &:hover {
      background-color: transparent;
    }

    &-icon {
      width: $marketing-bar__button-icon-size;
      height: $marketing-bar__button-icon-size;
      padding: $marketing-bar__button-icon-padding;
      fill: $marketing-bar__button-icon-color;
    }
  }
}
