<div class="review review--add">
  <a-heading
    :level="3"
    class="review__title"
  >
    {{ headingText }}
    <span class="review__title-product">
      {{ productTitle }}
    </span>
   </a-heading>
  <!--TODO Add rate component-->
  <a-fieldset
    :legendText="legendText"
    legend-class="rating-rate-legend review__rating-legend"
    class="review__fieldset"
  >
    <a-input
      id="nickname"
      label="Nickname *"
      v-model="nickname"
      type="text"
      name="nickname"
      placeholder="Nickname"
    />
    <a-input
      id="summary"
      label="Summary *"
      v-model="summary"
      type="text"
      name="summary"
      placeholder="Summary"
    />
    <a-textarea
      id="review"
      label="Review *"
      v-model="review"
      name="review"
      placeholder="Review"
    />

    <a-button @click="addReview()">
      Add Your Review
     </a-button>

    <a-paragraph class="review__required-info">
      * Required fields
     </a-paragraph>
   </a-fieldset>
</div>
