<div class="review review--add">
  <alpaca-heading
    :level="3"
    class="review__title"
  >
    {{ headingText }}
    <span class="review__title-product">
      {{ productTitle }}
    </span>
  </alpaca-heading>
  <!--TODO Add rating component-->
  <alpaca-fieldset
    :legendText="legendText"
    legend-class="rating-rate-legend review__rating-legend"
    class="review__fieldset"
  >
    <alpaca-input
      id="nickname"
      label="Nickname *"
      v-model="nickname"
      type="text"
      name="nickname"
      placeholder="Nickname"
    />
    <alpaca-input
      id="summary"
      label="Summary *"
      v-model="summary"
      type="text"
      name="summary"
      placeholder="Summary"
    />
    <alpaca-textarea
      id="review"
      label="Review *"
      v-model="review"
      name="review"
      placeholder="Review"
    />

    <alpaca-button
      @click="addReview()"
    >
      Add Your Review
    </alpaca-button>

    <alpaca-paragraph class="review__required-info">
      * Required fields
    </alpaca-paragraph>
  </alpaca-fieldset>
</div>
