<div class="login">
  <form>
    <a-fieldset
      class="login__fieldset"
      :legend-text="legend"
      legend-class="login__legend"
    >
      <a-input-wrapper
        :label="emailLabel"
        input-id="email"
      >
        <a-input
          id="email"
          v-model="email"
          type="email"
          name="email"
          :placeholder="emailPlaceholder"
        />
      </a-input-wrapper>
      <a-input-wrapper
        input-id="password"
        :label="passwordLabel"
      >
        <a-input
          id="password"
          v-model="password"
          type="password"
          name="password"
          :placeholder="passwordPlaceholder"
        />
      </a-input-wrapper>
     </a-fieldset>
    <div class="row row--no-margins end-xs">
      <a-button
        class="button--blank login__forgot-password-button"
        @click.native="goToForgotPassword"
      >
        {{ goToForgotPasswordButton }}
       </a-button>
    </div>
    <div class="login__submit-wrapper row row--no-margins center-xs">
      <a-button
        class="login__submit-button"
        @click.native.stop.prevent="login"
      >
        {{ submitButton }}
       </a-button>
    </div>
  </form>
  <div class="login__register-wrapper row row--no-margins center-xs">
    <a-button
      class="button--blank"
      @click.native="goToRegister"
    >
      {{ goToRegisterButton }}
     </a-button>
  </div>
</div>
