<div class="price">
  <!--@slot Custom old price slots (Named slots)-->
  <slot name="oldPrice">
    <del
      v-if="oldPrice"
      :aria-label="oldPriceAriaLabel"
      :class="['price--old', oldPriceClass]"
    >
      {{ oldPrice }}
    </del>
  </slot>
  <!--@slot Custom special price slots (Named slots)-->
  <slot name="specialPrice">
    <ins
      v-if="specialPrice"
      :aria-label="specialPriceAriaLabel"
      :class="['price--special', specialPriceClass]"
    >
      {{ specialPrice }}
    </ins>
  </slot>
  <!--@slot Default price slots-->
  <slot/>
</div>
