@import '../../../assets/styles/_variables';

$checkbox__label-padding               : $spacer !default;
$checkbox__icon-width                  : 100% !default;
$checkbox__icon-height                 : 100% !default;
$checkbox__icon-margin                 : $reset !default;
$checkbox__icon-fill                   : $color-primary !default;
$checkbox__icon-transition             : $transition-base !default;
$checkbox__icon-wrapper-margin         : $reset $spacer $reset $reset !default;
$checkbox__icon-wrapper-width          : 18px !default;
$checkbox__icon-wrapper-height         : 18px !default;
$checkbox__icon-wrapper-border         : 2px solid $gray !default;
$checkbox__icon-wrapper-border-radius  : 2px !default;
$checkbox__icon-wrapper-border--checked: none !default;

.a-checkbox {
  position: relative;
  display: flex;

  &__field {
    position: absolute;
    opacity: 0;

    &:checked + .a-checkbox__label {
      .a-checkbox__icon-wrapper {
        border: $checkbox__icon-wrapper-border--checked;
      }

      .a-checkbox__icon {
        opacity: 1;
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    width: $checkbox__icon-wrapper-width;
    height: $checkbox__icon-wrapper-height;
    margin: $checkbox__icon-wrapper-margin;
    border: $checkbox__icon-wrapper-border;
    border-radius: $checkbox__icon-wrapper-border-radius;
  }

  &__icon {
    width: $checkbox__icon-width;
    height: $checkbox__icon-height;
    margin: $checkbox__icon-margin;
    padding: $reset;
    cursor: pointer;
    opacity: 0;
    transition: $checkbox__icon-transition;
    fill: $checkbox__icon-fill;
  }
}
