$price__color              : inherit !default;
$price__color--special     : $green !default;
$price__color--old         : inherit !default;
$price__font-weight        : $font-weight-bold !default;
$price__font-weight--old   : $font-weight-normal !default;
$price__font-weight--old   : $font-weight-normal !default;
$price__special-margin-left: $spacer !default;

.price {
  font-weight: $price__font-weight;

  &__value {
    position: relative;

    &--old {
      text-decoration: line-through;
      font-weight: $price__font-weight--old;
    }

    &--special {
      margin-left: $price__special-margin-left;
      color: $price__color--special;
      text-decoration: none;
    }
  }
}
