<div class="price price__wrapper">
  <del
    v-if="oldPrice"
    :aria-label="setAriaLabel(oldPrice)"
    :class="[
      'price__value price__value--old',
      oldPriceClass
    ]"
  >
    {{ oldPrice }}
  </del>
  <ins
    v-if="specialPrice"
    :aria-label="setAriaLabel(specialPrice)"
    :class="[
      'price__value price__value--special',
      specialPriceClass
    ]"
  >
    {{ specialPrice }}
  </ins>
  <span
    v-if="price"
    :aria-label="setAriaLabel(price)"
    :class="[
      'price__value',
      regularPriceClass
    ]"
  >
    {{ price }}
  </span>
</div>
