<component
  :is="tag"
  class="catalog-grid-item"
  >
  <a-badge
    v-if="product.badge"
    :type="product.badge"
    class="catalog-grid-item__badge"
  >
    {{ product.badge }}
   </a-badge>

  <router-link
    :to="product.url"
    class="catalog-grid-item__link"
  >
    <a-image
      :src="product.image"
      :alt="product.name"
      class="catalog-grid-item__image"
    />
  </router-link>

  <section class="catalog-grid-item__details">
    <h2 class="catalog-grid-item__name">
      <router-link
        :to="product.url"
        class="catalog-grid-item__link catalog-grid-item__link--name"
      >
        {{ product.name }}
      </router-link>
    </h2>

    <div class="catalog-grid-item__price">
      <a-price
        :price="product.price"
        :special-price="product.specialPrice"
        :old-price="product.oldPrice"
      />
    </div>

    <!--TODO Add rating component-->
    <div class="catalog-grid-item__options">
      <!-- <a-swatch
        v-if="textSwatch"
        :options="textSwatch"
      />
      <a-swatch
        v-if="iconSwatch"
        :options="iconSwatch"
        image
      /> -->
    </div>

    <div class="catalog-grid-item__actions">
      <form class="catalog-grid-item__primary-form">
        <a-button
          type="button"
          class="button--secondary catalog-grid-item__primary-action"
          @click.stop.prevent="addToCart"
        >
          Add to cart
         </a-button>
      </form>

      <div class="catalog-grid-item__secondary-action">
        <a-button
          type="button"
          :aria-label="wishListAriaLabel"
          @click="addToWishList"
        >
          <a-icon :icon="wishListIcon"/>
        </a-button>

        <a-button
          type="button"
          :aria-label="compareAriaLabel"
          @click="addToCompare"
        >
          <a-icon :icon="compareIcon"/>
        </a-button>
      </div>
    </div>
  </section>
</component>
