@import '../../../assets/styles/globals';

$cookie-message__width                 : 100% !default;
$cookie-message__background-color      : $gray-lightest !default;
$cookie-message__font-size             : $font-size-small !default;

$cookie-message__text-padding          : $spacer--medium $spacer--medium 0 $spacer--medium !default;
$cookie-message__text-padding\@small   : $spacer--medium $spacer $spacer--medium $spacer--medium !default;
$cookie-message__text-color            : $gray-dark !default;
$cookie-message__text-line-height      : $font-line-height !default;

$cookie-message__close-padding         : 0 $spacer--medium 0 0 !default;
$cookie-message__close-padding\@small  : 0 $spacer--medium 0 $spacer !default;
$cookie-message__close-size            : 48px !default;
$cookie-message__close-color           : $gray-dark !default;
$cookie-message__close-background      : none !default;
$cookie-message__close-border          : none !default;
$cookie-message__close-font-weight     : $font-weight-bold !default;


$cookie-message__close-icon-size       : 14px !default;
$cookie-message__close-icon-margin-left: $spacer !default;
$cookie-message__close-icon-fill       : $color-primary !default;
$cookie-message__close-icon-transition : $transition-base !default;

.a-cookie-message {
  align-items: stretch;
  box-sizing: border-box;
  width: $cookie-message__width;
  font-size: $cookie-message__font-size;
  background-color: $cookie-message__background-color;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    min-width: 100%;

    @include mq($screen-s) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__text {
    flex-basis: 100%;
    padding: $cookie-message__text-padding;
    color: $cookie-message__text-color;
    line-height: $cookie-message__text-line-height;
    text-align: justify;

    @include mq($screen-s) {
      flex-basis: auto;
      padding: $cookie-message__text-padding\@small;
      text-align: left;
    }
  }

  &__close {
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    align-items: center;
    min-width: $cookie_message__close-size;
    height: $cookie-message__close-size;
    padding: $cookie-message__close-padding;
    color: $cookie-message__close-color;
    font-weight: $cookie-message__close-font-weight;
    background: $cookie-message__close-background;
    border: $cookie-message__close-border;
    cursor: pointer;

    &:active,
    &:hover,
    &:focus {
      color: $cookie-message__close-color;
      background: $cookie-message__close-background;

      .a-cookie-message__close-icon {
        fill: $cookie-message__close-icon-fill;
      }
    }

    @include mq($screen-s) {
      padding: $cookie-message__close-padding\@small;
    }
  }

  &__close-icon {
    width: $cookie-message__close-icon-size;
    height: $cookie-message__close-icon-size;
    margin-left: $cookie-message__close-icon-margin-left;
    fill: $cookie-message__close-color;

    &:hover,
    &:focus {
      fill: $cookie-message__close-icon-fill;
    }
  }
}
