@import '../../../assets/styles/globals';

$breadcrumbs__margin             : $spacer !default;
$breadcrumbs__color              : $gray-dark !default;
$breadcrumbs__color--active      : $blue !default;
$breadcrumbs__font-size          : $font-size-small !default;

.breadcrumbs {
  display: none;

  @include mq($screen-m) {
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $gray-darker;
    font-size: $breadcrumbs__font-size;
    text-decoration: none;

    &::after {
      display: flex;
      align-items: center;
      margin: 0 $breadcrumbs__margin;
      color: $breadcrumbs__color;
      content: '/';
    }

    &:hover {
      color: $blue;
    }
  }

  &__item {
    display: flex;
    align-items: stretch;
    color: $breadcrumbs__color--active;
    font-size: $breadcrumbs__font-size;
    line-height: 1.5;
  }
}
