<div class="breadcrumbs">
  <template v-for="(breadcrumb, i) in breadcrumbs">
    <template v-if="breadcrumbs.length === i + 1">
      <!-- @slot Current page (Scoped slot) -->
      <slot
        name="current"
        :breadcrumb="breadcrumb"
      >
        <span
          :key="`breadcrumb-${i}`"
          :aria-label="breadcrumb.text"
          class="breadcrumbs__item"
          tabindex="0"
        >
          {{ breadcrumb.text }}
        </span>
      </slot>
    </template>
    <template v-else>
      <!-- @slot Previous pages (Scoped slot) -->
      <slot
        name="previous"
        :breadcrumb="breadcrumb"
      >
        <router-link
          :to="breadcrumb.href"
          :aria-label="breadcrumb.text"
          class="breadcrumbs__link"
        >
          {{ breadcrumb.text }}
        </router-link>
      </slot>
    </template>
  </template>
</div>
