$registration__heading-margin    : 11px 0 $spacer--medium 0 !default;
$registration__content-margin    : 0 0 $spacer--medium !default;
$registration__input-margin      : 0 0 $spacer--medium !default;
$registration__fieldset-margin   : 0 0 $spacer--medium !default;
$registration__legend-font-size  : $font-size-base;
$registration__legend-font-weight: $font-weight-bold;
$registration__legend-padding    : 0 0 $spacer--medium 0 !default;
$registration__legend-width      : 100% !default;

.registration {
  &__heading {
    margin: $registration__heading-margin;
  }

  &__divider {
    margin-bottom: $spacer--large;
  }

  &__content {
    margin: $registration__content-margin;
  }

  &__input {
    margin: $registration__input-margin;
  }

  &__legend {
    position: relative;
    margin: $reset;
    padding: $registration__legend-padding;
    width: $registration__legend-width;
    font-size: $registration__legend-font-size;
    font-weight: $registration__legend-font-weight;
  }

  &__fieldset {
    margin: $registration__fieldset-margin;
  }
}
