<alpaca-container>
  <div class="product-view">
    <alpaca-breadcrumbs :breadcrumbs="breadcrumbs"/>
    <div class="product-view__wrapper">
      <div class="product-view__gallery">
        <alpaca-gallery :images="product.media_gallery"/>
      </div>
      <div class="product-view__main-details">
        <div class="product-view__heading">
          <alpaca-heading
            :level="1"
            class="product-view__title"
          >
            {{ product.name }}
          </alpaca-heading>
          <!-- TODO: Use click event to open tab with reviews instead of links -->
          <alpaca-review-summary
            :reviews-qty="oldProduct.reviews.length"
            add-review-link="#"
            amount-link="#"
          />
        </div>
        <div class="product-view__sku">
          SKU: {{ product.sku }}
        </div>
        <div class="product-view__stock-line">
          <alpaca-price
            v-if="oldPrice && currentPrice"
            large
            :old-price="calculatedOldPrice | price"
            :special-price="calculatedPrice | price"
          />
          <alpaca-price
            v-else
            large
            :price="calculatedPrice | price"
          />
          <span
            v-if="inStock && stockQty > 0 && stockQty <= 5"
            class="product-view__stock-status product-view__stock-status--alert"
          >
            In stock - only {{ stockQty }} left
          </span>
          <span
            v-else-if="inStock && stockQty > 0"
            class="product-view__stock-status"
          >
            In stock
          </span>
          <span
            v-else
            class="product-view__stock-status product-view__stock-status--out-of-stock"
          >
            Out of stock
          </span>
        </div>
      </div>
      <div class="product-view__secondary-details">
        <div class="product-view__main-actions">
          <div
            v-if="inStock && stockQty > 0"
            class="product-view__qty"
          >
            <alpaca-quantity-update
              :value="1"
              @update="updatePrice"
            />
          </div>
          <div class="product-view__action-elements">
            <div
              v-if="inStock && stockQty > 0"
              class="product-view__add-to-cart"
            >
              <alpaca-button class="product-view__add-to-cart-btn">
                Add to cart
              </alpaca-button>
            </div>
            <div class="product-view__extra-actions">
              <alpaca-button
                icon="heart"
                :default-class="false"
                :default-button-icon-class="false"
                class="
                  product-view__action
                  product-view__action--button
                  product-view__action--wishlist
                "
              />
              <alpaca-button
                icon="compare"
                :default-class="false"
                :default-button-icon-class="false"
                class="
                  product-view__action
                  product-view__action--button
                  product-view__action--compare
                "
              />
              <alpaca-button
                icon="envelope"
                :default-class="false"
                :default-button-icon-class="false"
                class="
                  product-view__action
                  product-view__action--button
                  product-view__action--emailfriend
                "
              />
            </div>
          </div>
        </div>
        <div class="product-view__information">
          <!-- TODO: Remove mock from brief-info component -->
          <alpaca-brief-info
            :items="briefInfo.items"
            :level="3"
            :heading="briefInfo.heading.text"
          />
        </div>
      </div>
    </div>
    <div class="product-view__tabs">
      <!-- TODO: Add reviews -->
      <alpaca-tabs-container>
        <alpaca-tab
          tab-id="tab-details"
          title="Details"
          :active-tab="activeTab"
          icon="angle-down"
          @click="setActiveTab('tab-details')"
        />
        <alpaca-tab-content
          tab-id="tab-details"
          title-id="tab-title-details"
          :active-tab="activeTab"
          v-html="product.description"
        />
        <alpaca-tab
          tab-id="tab-more"
          title="More Information"
          :active-tab="activeTab"
          icon="angle-down"
          @click="setActiveTab('tab-more')"
        />
        <alpaca-tab-content
          tab-id="tab-more"
          title-id="tab-title-more"
          :active-tab="activeTab"
        >
          Custom attributes
        </alpaca-tab-content>
      </alpaca-tabs-container>
    </div>
    <div
      v-if="oldProduct.relatedProducts && oldProduct.relatedProducts.length"
      class="product-view__slider"
    >
      <alpaca-heading tag="h3" :level="3">
        Related products
      </alpaca-heading>
      <alpaca-slider>
        <slide
          class="slider__item product-view__slide-item"
          v-for="(product, index) in oldProduct.relatedProducts"
          :key="index"
        >
          <alpaca-catalog-grid-item :product="product"/>
        </slide>
      </alpaca-slider>
    </div>
    <div
      v-if="oldProduct.featuredProducts && oldProduct.featuredProducts.length"
      class="product-view__slider"
    >
      <alpaca-heading tag="h3" :level="3">
        You may also like
      </alpaca-heading>
      <alpaca-slider>
        <slide
          class="slider__item product-view__slide-item"
          v-for="(product, index) in oldProduct.featuredProducts"
          :key="index"
        >
          <alpaca-catalog-grid-item :product="product"/>
        </slide>
      </alpaca-slider>
    </div>
    <alpaca-additional-content
      class="product-view__additional-content"
      v-if="banner.length"
      :picture="banner"
      :picture-alt="bannerAlt"
      first-column-text="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
      second-column-text="It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
    />
  </div>
</alpaca-container>
