@import '../../../assets/styles/_globals.scss';

$radio__margin       : 0 0 $spacer--medium 0 !default;
$radio__legend-mergin: 0 0 $spacer--medium 0 !default;

.a-radio-wrapper {
  position: relative;
  margin: $radio__margin;

  &--legend-hidden {
    .a-radio-wrapper__legend {
      @include visually-hidden();
    }
  }

  &__fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__legend {
    margin: $radio__legend-mergin;
  }
}
