@import '../../../assets/styles/globals';

$rating__size                   : 120px !default;
$rating__item-size              : $rating__size / 5 !default;
$rating__size--large            : 250px !default;
$rating__item-size--large       : $rating__size--large / 5 !default;
$rating__margin--rate           : $spacer--medium !default;
$icon__active-color             : $orange !default;
$icon__active-color--with-border: $orange !default;
$icon__inactive-color           : $gray-light !default;
$rating__error-margin-bottom    : $spacer !default;
$rating__error-color            : $red !default;

.rating {
  width: $rating__size;

  &:hover,
  &:focus {
    .rating__rate-item span::before {
      display: block;
    }
  }

  &__rate-item {
    position: relative;
    flex: 1 0 $rating__item-size;
    overflow: hidden;

    &:hover,
    &:focus {
      ~ .rating__rate-item span::before {
        display: none;
      }
    }
  }

  &__star {
    position: relative;
    width: $rating__size;
    height: $rating__item-size;

    &::before { // inactive
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: $rating__size;
      height: $rating__item-size;
      text-indent: 10000px;
      background-image: url(../../../assets/images/rate/star.svg);
      background-repeat: repeat-x;
      background-position: left center;
      background-size: $rating__item-size;
      content: '';

      @include isIE() {
        height: 100%;
        background-size: $rating__item-size 100%;
      }
    }

    &--single {
      width: $rating__item-size;
    }
  }

  &__indicator {
    top: 0;
    left: 0;
    display: block;
    width: $rating__size;
    height: $rating__item-size;
    overflow: hidden;
    text-indent: -10000px;

    &::before { // active
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: auto;
      height: $rating__item-size;
      text-indent: 10000px;
      background-image: url(../../../assets/images/rate/active-star.svg);
      background-repeat: repeat-x;
      background-position: left center;
      background-size: $rating__item-size;
      content: '';

      @include isIE() {
        width: 100%;
        height: 100%;
        background-size: $rating__item-size 100%;
      }

      .rating__star--rate & {
        display: none;
      }

      .rating__star--rate:hover &,
      .rating__star--rate:focus &,
      .rating__rate-item--active & {
        display: block;
      }
    }

    &::after { //active star with border
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: $rating__item-size;
      background-image: url(../../../assets/images/rate/active-star.svg);
      background-repeat: repeat-x;
      background-position: left center;
      background-size: $rating__item-size;
      content: '';

      @include isIE() {
        width: 100%;
        height: 100%;
        background-size: $rating__item-size 100%;
      }

      .rating__star--rate & {
        display: none;
        text-indent: 10000px;
      }
    }
  }

  &__error {
    display: none;
    margin-bottom: $rating__error-margin-bottom;
    color: $rating__error-color;

    &--visible {
      display: block;
    }
  }

  &--rate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $rating__size;
    margin-bottom: $rating__margin--rate;

    .rating__rate-item {
      flex: 1 0 $rating__item-size;
    }
  }

  &--large {
    .rating {
      width: $rating__size--large;

      &__rate-item {
        flex: 1 0 $rating__item-size--large;
      }

      &__star {
        width: $rating__size--large;
        height: $rating__item-size--large;

        &::before { // inactive
          width: $rating__size--large;
          height: $rating__item-size--large;
          background-size: $rating__item-size--large;

          @include isIE() {
            background-size: $rating__item-size--large 100%;
          }
        }

        &--single {
          width: $rating__item-size--large;
        }
      }

      &__indicator {
        width: $rating__size--large;
        height: $rating__item-size--large;


        &::before { // active
          height: $rating__item-size--large;
          background-size: $rating__item-size--large;


          @include isIE() {
            background-size: $rating__item-size--large 100%;
          }
        }

        &::after {
          height: $rating__item-size--large;
          background-size: $rating__item-size--large;

          @include isIE() {
            background-size: $rating__item-size--large 100%;
          }
        }
      }

      &--rate {
        width: $rating__size--large;

        .rating__indicator {
          width: $rating__item-size--large;
          height: $rating__item-size--large;

          &::before {
            height: $rating__item-size--large;
            background-size: $rating__item-size--large;
          }

          &::after {
            height: $rating__item-size--large;
            background-size: $rating__item-size--large;
          }
        }
      }
    }
  }
}
