<a-fieldset class="rating">
<div
    v-if="!disabled"
    role="listbox"
    aria-required="true"
    aria-labelledby="rating-field-label"
    class="rating__content"
  >
    <div
      v-for="item in ratingItems"
      :key="item"
      :class="['rating__item', active >= item ? 'rating__item--active' : '']"
      role="option"
      :aria-selected="rating === item"
    >
      <!-- @slot Custom label (Named slot)-->
      <slot name="label">
        <div
          class="button--blank rating__star rating__star--rate"
          :aria-label="ariaLabelRate"
          tabindex="0"
          @click="selectValue(item)"
        >
          <span class="rating__indicator" />
        </div>
      </slot>
    </div>
  </div>
  <div
    v-else
    :aria-label="disabledRateAriaLabel"
    :title="disabledRateTitle"
    tabindex="0"
  >
    <!-- @slot Custom slot for disabled ratings (Named slot)-->
    <slot name="disabled">
      <div
        class="rating__star"
        :style="{'width': `${setScores}%`}"
      >
        <span class="rating__indicator" />
      </div>
    </slot>
  </div>
</a-fieldset>
