@import '../../../assets/styles/_globals.scss';

$headings-margin                : 0 0 0.5em 0 !default;
$headings-font-family           : $font-family-base !default;
$headings-font-weight           : 700 !default;
$headings-line-height           : $font-line-height !default;
$headings-color                 : $color-secondary !default;
$headings-text-transform        : none !default;
$heading-font-size--first-level : 18px !default;
$heading-font-size--second-level: 18px !default;
$heading-font-size--third-level : 14px !default;
$heading-font-size--fourth-level: 14px !default;
$heading-font-size--fifth-level : 12px !default;
$heading-font-size--sixth-level : 12px !default;

.a-heading {
  margin: $headings-margin;
  color: $headings-color;
  font-weight: $headings-font-weight;
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  text-transform: $headings-text-transform;

  &--first-level {
    font-size: $heading-font-size--first-level;
  }

  &--second-level {
    font-size: $heading-font-size--second-level;
  }

  &--third-level {
    font-size: $heading-font-size--third-level;
  }

  &--fourth-level {
    font-size: $heading-font-size--fourth-level;
  }

  &--fifth-level {
    font-size: $heading-font-size--fifth-level;
  }

  &--sixth-level {
    font-size: $heading-font-size--sixth-level;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .a-heading;
}

h1 {
  @extend .a-heading--first-level;
}

h2 {
  @extend .a-heading--second-level;
}

h3 {
  @extend .a-heading--third-level;
}

h4 {
  @extend .a-heading--fourth-level;
}

h5 {
  @extend .a-heading--fifth-level;
}

h6 {
  @extend .a-heading--sixth-level;
}
