@import '../../../assets/styles/globals';

$table__row__padding    : $spacer--medium 0 !default;
$table__background--odd : $white !default;
$table__background--even: $gray-lightest !default;
$table__border          : 1px solid $gray-light !default;
$table__border-radius   : $border-radius !default;

.table {
  &--odd-even {
    tbody {
      tr {
        &:nth-child(odd) {
          background: $table__background--odd;
        }

        &:nth-child(even) {
          background: $table__background--even;
        }

        &:first-child {
          border-top-left-radius: $table__border-radius;
          border-top-right-radius: $table__border-radius;

          @include mq($screen-m) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }

      td {
        background-color: transparent;
      }
    }
  }

  tr {
    display: block;
    padding: $table__row__padding;
    border-bottom: $table__border;

    @include mq($screen-m) {
      display: table-row;
      padding: 0;
      border-bottom: 0;
    }
  }

  thead {
    tr {
      padding: 0;
      border-bottom: 0;

      @include mq($screen-m) {
        border-top-left-radius: $table__border-radius;
        border-top-right-radius: $table__border-radius;
      }
    }

    th {
      &:first-child {
        @include mq($screen-m) {
          border-top-left-radius: $table__border-radius;
        }
      }

      &:last-child {
        @include mq($screen-m) {
          border-top-right-radius: $table__border-radius;
        }
      }
    }
  }
}
