<div>
  <alpaca-list>
    <alpaca-list-item
      v-for="item in items"
      :key="item.value"
      :element="item"
      class="active-filters__item list__item"
      icon-class="active-filters__remove-icon"
    >
      <component
        :is="singleFilterTag"
        :href="singleFilterTag === 'a' && item.href"
        class="active-filters__remove"
        :aria-label="item.ariaLabel"
        @click="clearItem"
      >
        <alpaca-icon
          custom-class="active-filters__remove-icon"
          :title="closeIconTitle"
          :icon="closeIcon"
        />
      </component>

      <span class="active-filters__label">
          {{ item.label }} :&nbsp;
        </span>
      <span class="active-filters__value">
          {{ item.value }}
        </span>
    </alpaca-list-item>
  </alpaca-list>

  <alpaca-button
    class="active-filters__clear-all"
    @click="clearAll"
  >
    {{ clearButton }}
  </alpaca-button>
</div>
