<div class="minicart">
  <a-list class="minicart__list">
    <slot name="products"/>
   </a-list>
  <section class="minicart__summary">
    <a-heading
      :level="3"
      class="heading heading--first-level minicart__summary-heading"
    >
      {{ summaryTitle }}
    </a-heading>
    <div
      v-for="total in filteredTotals"
      :key="total.code"
      class="row row--no-margins between-xs"
    >
      <div class="col-xs-9">
        {{ total.title }}
      </div>
      <div class="col-xs-3 end-xs">
        {{ total.value }}
      </div>
    </div>
    <div>
      Discount code
    </div>
    <div
      v-if="grandTotal"
      class="row row--no-margins between-xs minicart__grand-total-row"
    >
      <div class="col-xs-9">
        {{ grandTotal.title }}
      </div>
      <div class="col-xs-3 end-xs">
        {{ grandTotal.value }}
      </div>
    </div>
  </section>
  <div class="row row--no-margins center-xs between-md minicart__actions">
    <a-button
      class="button--blank col-xs-12 col-md-4 minicart__return-button button--blank"
      @click="returnToShopping"
    >
      {{ returnToShoppingButton }}
     </a-button>
    <a-button
      class="col-xs-12 col-md-4 first-xs last-md minicart__checkout-button"
      @click="goToCheckout"
    >
      {{ goToCheckoutButton }}
     </a-button>
  </div>
</div>
