<div class="filters">
  <alpaca-heading
    :level="2"
    class="filters__heading"
  >
    {{ activeFiltersHeading }}
  </alpaca-heading>
  <alpaca-divider class="filters__divider"/>
  <div class="filters__active">
    <alpaca-active-filters
      :items="activeFilterItems"
      clear-button="Clear all"
      @clearAll="clearAll"
      @clearItem="clearItem"
      :has-active-filters="hasActiveFilters"
    />
  </div>
  <button
    class="filters__switcher"
    @click="showFilters"
  >
    Shopping Options
    <alpaca-icon
      icon="angle-down"
      :class="['filters__switcher-icon', {'filters__switcher-icon--active': !isVisible}]"
    />
  </button>
  <div :class="['filters__list', 'dropdown-list', {'filters__list--mobile-hidden' : isVisible}]">
    <alpaca-heading
      :level="2"
      class="filters__heading filters__heading--mobile-hidden"
    >
      {{ allFiltersHeading }}
    </alpaca-heading>
    <alpaca-divider class="filters__divider"/>
    <alpaca-dropdown-list
      secondary
    >
      <alpaca-swatch-filter
        v-if="swatchItems"
        :title="swatchTitle"
        id="swatchId"
        :items="swatchItems"
        @click="checkSwatch"
      />
      <alpaca-color-filter
        v-if="colorItems"
        :title="colorTitle"
        id="colorId"
        :items="colorItems"
        @click="checkColor"
      />
      <no-ssr>
        <alpaca-range
          :value.sync="val"
          :min="min"
          :max="max"
          @apply="updateVal"
        />
      </no-ssr>
      <template>
        <template
          v-if="checkboxItems && Array.isArray(checkboxItems)"
        >
          <alpaca-checkbox-filter
            v-for="{ key, checkboxArray } in getCheckboxArrayWithId"
            :key="key"
            :title="checkboxArray.name"
            :id="key"
            :items="checkboxArray.items"
            @select="selectOptions"
          />
        </template>
        <alpaca-checkbox-filter
          v-else-if="checkboxItems"
          key="key"
          :title="checkboxItems.name"
          id="checkboxId"
          :items="checkboxItems.items"
          @select="selectOptions"
        />
      </template>
    </alpaca-dropdown-list>
  </div>
</div>
