<div class="filters">
  <template v-if="hasActiveFilters">
    <alpaca-heading
      :level="2"
      class="filters__heading"
    >
      {{ activeFiltersHeading }}
    </alpaca-heading>
    <alpaca-divider
      class="filters__divider"
    />
    <div class="filters__active">
      <alpaca-active-filters
        :items="activeFilterItems"
        clear-button="Clear all"
        @clearAll="clearAll"
        @clearItem="clearItem"
        :has-active-filters="hasActiveFilters"
      />
    </div>
  </template>
  <button
    class="filters__switcher"
    @click="showFilters"
  >
    Shopping Options
    <alpaca-icon
      icon="angle-down"
      :class="['filters__switcher-icon', {'filters__switcher-icon--active': !isVisible}]"
    />
  </button>
  <div :class="['filters__list', 'dropdown-list', {'filters__list--mobile-hidden' : isVisible}]">
    <alpaca-heading
      :level="2"
      class="filters__heading filters__heading--mobile-hidden"
    >
      {{ allFiltersHeading }}
    </alpaca-heading>
    <alpaca-divider class="filters__divider"/>
    <alpaca-dropdown-list
      secondary
    >
      <alpaca-swatch-filter
        v-if="swatchItems"
        :title="swatchTitle"
        id="swatchId"
        :items="swatchItems"
        @click="checkSwatch"
      />
      <alpaca-color-filter
        v-if="colorItems"
        :title="colorTitle"
        id="colorId"
        :items="colorItems"
        @click="checkColor"
      />
      <no-ssr>
        <alpaca-range
          :value.sync="val"
          :min="min"
          :max="max"
          @apply="updateVal"
        />
      </no-ssr>
      <template>
        <template
          v-if="otherFilters"
        >
        </template>
        <alpaca-button-filter
          v-for="item in otherFilters"
          :key="item.id"
          :id="item.id"
          :title="item.title"
          :items="item.items"
          @changeFilter="changeFilter"
        />
      </template>
    </alpaca-dropdown-list>
  </div>
</div>
