@import '../../../assets/styles/globals';

$banner-width          : 100% !default;
$banner-text-decoration: none !default;
$banner-outline        : none !default;
$banner__image-width   : 100% !default;

.a-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $banner-width;

  &:hover,
  &:focus {
    text-decoration: $banner-text-decoration;
    outline: $banner-outline;
  }

  &__image {
    width: $banner__image-width;
  }

  &__text {
    position: absolute;
  }
}
