<alpaca-container>
  <div class="product-view">
    <alpaca-breadcrumbs
      :breadcrumbs="breadcrumbs"
    />
    <div class="product-view__wrapper">
      <div class="product-view__gallery">
        <alpaca-gallery
          :images="gallery.images"
        />
      </div>
      <div class="product-view__main-details">
        <div class="product-view__heading">
          <alpaca-heading
            tag="h1"
            level="1"
            class="product-view__title"
          >
            {{ product.name }}
          </alpaca-heading>
          <!-- TODO: Use click event to open tab with reviews instead of links -->
          <alpaca-review-summary
            :reviews-qty="product.reviews.length"
            add-review-link="#"
            amount-link="#"
          />
        </div>
        <div class="product-view__sku">
          {{ product.sku }}
        </div>
        <div class="product-view__stock-line">
          <alpaca-price
            large
            :old-price="product.price.old"
            :special-price="product.price.special"
          />
          <!-- TODO: Replace with new stock component -->
          <span
            v-if="product.qty > 0 && product.qty <= 5"
            class="product-view__stock-status product-view__stock-status--alert"
          >
            In stock - only {{ product.qty }} left
          </span>
          <span
            v-else-if="product.qty > 0"
            class="product-view__stock-status"
          >
            In stock
          </span>
          <span
            v-else
            class="product-view__stock-status product-view__stock-status--out-of-stock"
          >
            Out of stock
          </span>
        </div>
      </div>
      <div class="product-view__secondary-details">
        <div class="product-view__description">
          {{ product.description }}
        </div>
        <div
          v-if="product.swatches"
          class="product-view__options"
        >
          <alpaca-swatch
            v-if="product.swatches.text"
            :options="product.swatches.text.options"
            :label="product.swatches.text.label"
            label-class="product-view__swatch-option-title"
          />
          <alpaca-swatch
            color
            v-if="product.swatches.color"
            :options="product.swatches.color.options"
            :label="product.swatches.color.label"
            label-class="product-view__swatch-option-title"
          />
          <alpaca-swatch
            image
            v-else-if="product.swatches.image"
            :options="product.swatches.image.options"
            :label="product.swatches.image.label"
            label-class="product-view__swatch-option-title"
          />
        </div>
      </div>
    </div>
  </div>
</alpaca-container>
