@import '../../../assets/styles/_globals.scss';

$label-margin        : 0 0 $spacer !default;
$label-margin--inline: 0 $spacer 0 0 !default;
$label-font-size     : $font-size-base !default;
$label-color         : $color-secondary !default;
$label-font-family   : $font-family-base !default;
$label-font-weight   : $font-weight-normal !default;
$label-line-height   : $font-line-height !default;
$label-transition    : none !default;

.label {
  display: block;
  margin: $label-margin;
  color: $label-color;
  font-weight: $label-font-weight;
  font-size: $label-font-size;
  font-family: $label-font-family;
  line-height: $label-line-height;
  transition: $label-transition;

  &--inline {
    margin: $label-margin--inline;
  }

  &--hidden {
    @include visually-hidden();
  }
}

label {
  @extend .label;
}
