@import 'assets/styles/globals';

$forgot-password__field-margin-bottom            : $spacer--medium !default;
$forgot-password__submit-button-max-width\@medium: 240px !default;
$forgot-password__submit-button-margin           : $spacer--medium 0 0 0 !default;
$forgot-password__return-button-margin           : $spacer 0 0 0 !default;

.forgot-password {
  &__email {
    margin-bottom: $forgot-password__field-margin-bottom;
  }

  &__submit-button {
    margin: $forgot-password__submit-button-margin;

    @include mq($screen-m) {
      max-width: $forgot-password__submit-button-max-width\@medium;
    }
  }

  &__return-button {
    margin: $forgot-password__return-button-margin;
  }
}
