<component
  :is="itemTag"
  class="cart-list-item"
>
  <div class="cart-list-item__image">
    <alpaca-image
      :src="productImage.dataSrc"
      :alt="productImage.alt"
    />
  </div>
  <div class="cart-list-item__info">
    <div class="cart-list-item__data">
      <router-link
        :to="href"
        class="
          link
          link--inverted
          cart-list-item__name
        "        
      >
        {{ productName }}
      </router-link>
      <alpaca-price
        :price="productPrice.price"
        :special-price="productPrice.specialPrice"
        :old-price="productPrice.oldPrice"
        class="cart-list-item__price-value"
        regular-price-class="cart-list-item__price-value--regular"
        special-price-class="cart-list-item__price-value--special"
      />
      <alpaca-description-list
        :elements="productOptions"
        class="cart-list-item__attributes"
      />
    </div>
    <div class="cart-list-item__actions">
      <div class="cart-list-item__qty-wrapper">
        <span class="cart-list-item__qty-text">
          {{ quantity.text }}
        </span>
        <alpaca-quantity-update
          :input="quantity.input"
          :minus-button="quantity.minusQtyButton"
          :plus-button="quantity.plusQtyButton"
          decrement-button-class="cart-list-item__qty-button"
          increment-button-class="cart-list-item__qty-button"
          input-class="cart-list-item__qty-input"
          @update="onChange"
        />
      </div>
      <alpaca-button
        icon="remove"
        class="cart-list-item__action-button"
        icon-class="cart-list-item__action-icon"
        :aria-label="quantity.removeAriaLabel"
        custom-class="cart-list-item__actions-item"
        @click="onRemove"
      />
    </div>
  </div>
</component>
