<component
  :is="itemTag"
  class="cart-list-item"
>
  <div class="cart-list-item__image">
    <alpaca-image
      :src="product.image"
      :alt="product.name"
    />
  </div>
  <div class="cart-list-item__info">
    <div class="cart-list-item__data">
      <router-link
        :to="product.url"
        class="link link--inverted cart-list-item__name"
      >
        {{ product.name }}
      </router-link>
      <alpaca-price
        :price="product.price"
        :special-price="product.specialPrice"
        :old-price="product.oldPrice"
        class="cart-list-item__price-wrapper"
        old-price-class="cart-list-item__price-wrapper--old"
        special-price-class="cart-list-item__price-wrapper--special"
      />
      <alpaca-description-list
        :elements="product.options"
        class="cart-list-item__attributes"
      />
    </div>
    <div class="cart-list-item__actions">
      <!-- <div class="cart-list-item__qty-wrapper">
        <span class="cart-list-item__qty-text">
          {{ quantity.text }}
        </span>
        <alpaca-quantity-update
          :input="quantity.input"
          :minus-button="quantity.minusQtyButton"
          :plus-button="quantity.plusQtyButton"
          decrement-button-class="cart-list-item__qty-button"
          increment-button-class="cart-list-item__qty-button"
          input-class="cart-list-item__qty-input"
          @update="onChange"
        />
      </div> -->
      <alpaca-button
        icon="remove"
        class="cart-list-item__action-button"
        icon-class="cart-list-item__action-icon"
        :aria-label="removeAriaLabel"
        custom-class="cart-list-item__actions-item"
        @click="onRemove"
      />
    </div>
  </div>
</component>
