@import '../../../assets/styles/globals';

$collapse__background                    : $white !default;

$collapse__button-color                  : $white !default;
$collapse__button-color--active          : $color-primary !default;
$collapse__button-width                  : 100% !default;
$collapse__button-font-weight            : $font-weight-bold !default;
$collapse__button-background             : $gray-darker !default;
$collapse__button-background--active     : $gray-darker !default;
$collapse__button-border-radius          : 0 !default;

$collapse__icon-size                     : 16px !default;
$collapse__icon-fill                     : $white !default;
$collapse__icon-fill--active             : $color-primary !default;
$collapse__icon-transition               : $transition-base !default;

.a-collapse {
  background-color: $collapse__background;

  &__button {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: $collapse__button-width;
    min-width: 0;
    color: $collapse__button-color;
    font-weight: $collapse__button-font-weight;
    text-align: left;
    text-decoration: none;
    background-color: $collapse__button-background;
    border-radius: $collapse__button-border-radius;

    &:hover,
    &:focus {
      color: $collapse__button-color--active;
      background-color: $collapse__button-background--active;

      & > .a-collapse__icon {
        fill: $collapse__icon-fill--active;
      }
    }

    &[aria-expanded="true"] {
      color: $collapse__button-color--active;
      background-color: $collapse__button-background--active;

      & > .a-collapse__icon {
        transform: rotate(180deg);
        fill: $collapse__icon-fill--active;
      }
    }
  }

  &__icon {
    width: $collapse__icon-size;
    height: $collapse__icon-size;
    transition: $collapse__icon-transition;
    fill: $collapse__icon-fill;
  }

  &__content {
    z-index: 0;

    &[aria-hidden="true"] {
      display: none;
    }
  }
}
