@import '../../../assets/styles/globals';

$collapse__background                 : $white !default;
$collapse__transition                 : $transition-base !default;
$collapse__button-color               : $black !default;
$collapse__button-width               : 100% !default;
$collapse__button-padding             : $spacer--medium !default;
$collapse__button-color-active        : $color-primary !default;
$collapse__button-font-weight         : $font-weight-bold !default;
$collapse__button-text-transform      : uppercase !default;
$collapse__button-text-decoration     : underline !default;
$collapse__button-background          : $white !default;
$collapse__button-background--active  : $gray-darker !default;
$collapse__button-border-radius       : 0 !default;
$collapse__button-outline             : none !default;
$collapse__icon-width                 : $spacer--medium !default;
$collapse__icon-height                : $spacer--medium !default;
$collapse__icon-fill                  : $black !default;
$collapse__icon-fill-active           : $color-primary !default;
$collapse__content-padding            : $spacer !default;

.a-collapse {
  background-color: $collapse__background;

  &__button {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: $collapse__button-width;
    min-width: 0;
    color: $collapse__button-color;
    text-align: left;
    text-decoration: none;
    background: $collapse__button-background;
    border-radius: $collapse__button-border-radius;

    &:hover,
    &:focus {
      color: $collapse__button-color-active;
      text-decoration: $collapse__button-text-decoration;
      background-color: $collapse__button-background--active;
      outline: $collapse__button-outline;

      & > .a-collapse__icon {
        fill: $collapse__icon-fill-active;
      }
    }

    &[aria-expanded="true"] {
      color: $collapse__button-color-active;
      background-color: $collapse__button-background--active;

      & > .a-collapse__icon {
        transform: rotate(180deg);
        fill: $collapse__icon-fill-active;
      }
    }
  }

  &__icon {
    width: $collapse__icon-width;
    height: $collapse__icon-height;
    transition: $collapse__transition;
    fill: $collapse__icon-fill;
  }

  &__content {
    z-index: 0;
    padding: $collapse__content-padding;

    &[aria-hidden="true"] {
      display: none;
    }
  }
}
