<div class="a-select">
  <!-- @slot Label content (Named slot) -->
  <slot name="label">
    <a-label
      :for="id"
      class="a-select__label"
      v-if="label"
    >
      {{ label }}
    </a-label>
  </slot>
  <div :class="[
    'a-select__field', !!this.$slots['icon'] && 'a-select__field--icon']"
  >
    <select
      v-bind="$attrs"
      :id="id"
      :class="['a-select__input', selectClass]"
      @focus="$emit('focus')"
      @blur="$emit('blur')"
      @change="$emit('input', $event.target.value)"
    >
      <!-- @slot Default option content (Named slot) -->
      <slot name="defaultOption">
        <option v-if="defaultOption">
          {{ defaultOption}}
        </option>
      </slot>
      <option
        v-for="option in options"
        :key="option.value"
        :value="option.value"
        :selected="option.value === value"
      >
        {{ option.text }}
      </option>
    </select>
    <slot name="icon" />
  </div>
</div>
