@import '../../../assets/styles/_globals.scss';

$select__field-border             : 1px solid $form-elements-border-color !default;
$select__field-border-radius      : 20px !default;
$select__field-margin--after      : 3px 0 0 0;
$select__field-border-color--after: $gray-dark transparent transparent transparent !default;
$select__field-border-right--after: $spacer--medium !default;
$select__field-border-style--after: solid !default;
$select__field-border-width--after: 5px !default;
$select__icon-right               : $spacer--medium !default;
$select__icon-width               : 16px !default;
$select__icon-height              : 16px !default;
$select__input-height             : 40px !default;
$select__input-width              : 100% !default;
$select__input-padding            : 0 $spacer--medium 0 $spacer--medium !default;
$select__input-background-color   : transparent !default;
$select__input-border             : none !default;
$select__input-outline            : none !default;


.a-select {
  &__field {
    position: relative;
    display: flex;
    align-items: center;
    border: $select__field-border;
    border-radius: $select__field-border-radius;

    &::after {
      position: absolute;
      right: $select__field-border-right--after;
      margin: $select__field-margin--after;
      border-color: $select__field-border-color--after;
      border-style: $select__field-border-style--after;
      border-width: $select__field-border-width--after;
      content: "";
    }

    &--icon {
      &::after {
        content: none;
      }
    }
  }

  &__icon {
    position: absolute;
    right: $select__icon-right;
    width: $select__icon-width;
    height: $select__icon-height;
  }

  &__input {
    width: $select__input-width;
    height: $select__input-height;
    padding: $select__input-padding;
    background-color: $select__input-background-color;
    border: $select__input-border;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:hover,
    &:focus {
      outline: $select__input-outline;
    }
  }
}
