<div>
  <header class="header">
    <container>
      <div class="header__wrapper">
        <div class="header__buttons">
          <header-button
            icon="heart"
            @click.native="toggleWishlist()"
          >
            Wishlist
          </header-button>
          <header-button icon="phone">
            Contact
          </header-button>
          <header-button
            icon="account"
            @click.native="goToAccount()"
          >
            Account
          </header-button>
          <div class="header__minicart">
            <button
              type="button"
              class="header-button popup-trigger"
              data-popuptrigger="popup-minicart"
              @click="toggleMicrocart()"
            >
              <alpaca-icon
                icon="shopping-cart"
                class="header-button__icon"
              />
              <span class="header-button__text">
                Cart
              </span>
              <span class="header-button__counter">
                <span class="header-button__counter-dot" />
              </span>
            </button>
          </div>
          <!-- <minicart /> -->
        </div>
        <logo
          :src="src"
          :to="link"
        />
        <div class="header__search-wrapper">
          <header-search />
        </div>
      </div>
    </container>
  </header>
  <mega-menu :menu="menu" />
</div>
