$side-menu__item-hover-bg-color     : #f6f6fa !default;
$side-menu__item-color              : $gray-darker !default;
$side-menu__item-icon-color         : $side-menu__item-color !default;
$side-menu__item-min-height         : 48px !default;
$side-menu__item-border             : $border-width-base $border-style-base $gray-light !default;
$side-menu__item-element-padding    : $spacer--medium !default;
$side-menu__icon-size               : 16px !default;
$side-menu__icon-right-margin--prev : $spacer--medium !default;
$side-menu__nested-item-padding-left: calc(#{$side-menu__icon-right-margin--prev} + #{$side-menu__item-element-padding}) !default;

.side-menu {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  &--nested {
    overflow: visible;
  }

  &__item {
    min-height: $side-menu__item-min-height;

    &:hover,
    &:focus {
      background: $side-menu__item-hover-bg-color;
    }

    &--prev {
      border-bottom: $side-menu__item-border;
      transition: $transition-base;

      &:empty {
        height: calc(#{$side-menu__item-min-height} + #{$border-width-base});
      }
    }

    &--prev ~ & & {
      padding-left: $side-menu__nested-item-padding-left;
    }

    &--no-hover {
      &:hover,
      &:focus {
        background: transparent;
      }
    }

    &--no-border {
      border-color: transparent;
    }
  }

  &__button {
    display: flex;
    padding: $reset;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: none;
    border-radius: 0;
    font-weight: $font-weight-bold;
    background: none;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background: transparent;

      .side-menu__icon {
        fill: $side-menu__item-icon-color;
      }
    }

    &--prev {
      justify-content: left;
    }
  }

  &__link {
    display: block;
  }

  &__item,
  &__link,
  &__button {
    font-size: $font-size-base;
    color: $side-menu__item-color;

    &:hover,
    &:active,
    &:focus {
      color: $side-menu__item-color;
    }
  }

  &__link,
  &__button {
    padding: $side-menu__item-element-padding;
  }

  &__icon {
    width: $side-menu__icon-size;
    height: $side-menu__icon-size;
    fill: $side-menu__item-icon-color;

    &--prev {
      margin-right: $side-menu__icon-right-margin--prev;
      order: -1;
    }
  }
}
