<div
  :class="['message', {
    'message--success': success,
    'message--error': error
  }]"
  role="alert"
>
  <div class="message__information">
    <slot />
  </div>
  <div class="message__actions ">
    <alpaca-button
      :class="['message__actions-accept', {
        'message__actions-is-abort': abort
      }]"
      v-if="accept"
      :defaultClass="false"
      @onClick="ok"
    >
      {{ accept }}
    </alpaca-button>
    <alpaca-button
      class="message__actions-abort"
      v-if="abort"
      :defaultClass="false"
      @onClick="cancel"
    >
      {{ abort }}
    </alpaca-button>
  </div>
</div>
