@import '../../../assets/styles/globals';

$table__color        : $black !default;
$table__background   : $white !default;
$table__font-size    : $font-size-small !default;
$table__border-radius: $border-radius !default;
$table__border       : 1px solid $gray-light !default;

.table {
  width: 100%;
  color: $table__color;
  font-size: $table__font-size;
  background: $table__background;
  border: $table__border;
  border-radius: $table__border-radius;
  border-collapse: separate;
  border-spacing: 0;

  &__caption {
    @include visually-hidden();
  }
}
