<div
  :class="['cookie-message', isOpen && 'cookie-message--open']"
  :data-type="dataType"
  :aria-label="ariaLabel"
  tabindex="0"
>
  <div class="cookie-message__container">
    <span
      class="cookie-message__text"
      v-html="text"
    />
    <alpaca-button
      class="cookie-message__close"
      :aria-label="closeAriaLabel"
      :icon="closeIcon"
      icon-class="cookie-message__close-icon"
      @click="closeBar()"
    >
      {{ closeButton }}
    </alpaca-button>
  </div>
</div>
