@import '../../../assets/styles/globals.scss';

$footer-menu__background-color-darker: $gray-darker !default;

$footer-menu__button-color           : $white !default;
$footer-menu__button-border          : 2px solid #2c2733 !default;
$footer-menu__button-border\@medium  : none !default;
$footer-menu__content-padding        : $spacer $spacer--large !default;
$footer-menu__content-padding\@medium: $spacer !default;
$footer-menu__content-color          : $white !default;

.a-footer-menu {
  background-color: $footer-menu__background-color-darker;

  &__list {
    background-color: transparent;
  }

  &__button {
    border-bottom: $footer-menu__button-border;
  }

  &__content {
    padding: $footer-menu__content-padding;
    color: $footer-menu__content-color;

    @include mq($screen-m) {
      padding: $footer-menu__content-padding\@medium;
    }
  }

  &--screen-m {
    @include mq($screen-m) {
      display: flex;

      .a-footer-menu__list {
        width: 25%;
        border-bottom: 0;
        cursor: default;
      }

      .a-footer-menu__button {
        color: $footer-menu__button-color;
        font-weight: bold;
        border-bottom: $footer-menu__button-border\@medium;
        cursor: default;

        @include mq(screen--m) {
          border-bottom: $footer-menu__button-border;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          background-color: $footer-menu__background-color-darker;
        }

        .a-footer-menu__icon {
          display: none;
        }
      }
    }
  }
}
