@import '../../../assets/styles/globals';
$button-min-size                       : 48px !default;
$button-padding                        : 0 $spacer--large !default;
$button-background                     : $color-primary !default;
$button-background-hover               : initial !default;
$button-border                         : none !default;
$button-border-radius                  : 0 !default;
$button-outline                        : $outline-base !default;
$button-font-family                    : $font-family-base !default;
$button-font-size                      : $font-size-base !default;
$button-font-weight                    : $font-weight-bold !default;
$button-line-height                    : 1 !default;
$button-text-color                     : $white !default;
$button-text-transform                 : uppercase !default;
$button-text-decoration                : none !default;
$button-text-decoration-hover          : none !default;
$button-transform                      : perspective(1px) translateZ(0) !default;
$button-transition                     : all 0.5s ease-in-out !default;

// before used in hover state
$button-before-display                 : block !default;
$button-before-content                 : '' !default;
$button-before-width                   : 100% !default;
$button-before-position-left           : 0 !default;
$button-before-position-top            : 0 !default;
$button-before-position-bottom         : 0 !default;
$button-before-background              : $color-primary !default;
$button-before-transform               : scaleX(0) !default;
$button-before-transform-origin        : 0 50% !default;

// before hover
$button-before-transform-hover         : scaleX(1) !default;
$button-before-display-hover           : block !default;

// disabled
$button-background-disabled            : $gray !default;

// Secondary
$button-color--secondary               : $color-primary !default;
$button-background--secondary          : $white !default;
$button-border--secondary              : 2px solid $button-color--secondary !default;

// Secondary hover
$button-color-hover--secondary         : $white !default;
$button-background-hover--secondary    : $white !default;
$button-before-z-index-hover--secondary: -1 !default;
$button-after-display-hover--secondary : none !default;

// Secondary light
$button-font-weight--light             : $font-weight-normal !default;
$button-text-transform--light          : none !default;

// Button Link
$button-color--link                    : $color-primary !default;
$button-background--link               : transparent !default;
$button-text-transform--link           : none !default;
$button-text-decoration--link          : underline !default;

// Button Link hover
$button-color-hover--link              : $blue !default;
$button-background-hover--link         : transparent !default;
$button-before-display-hover--link     : none !default;
$button-after-display-hover--link      : none !default;

// Button icon
$button-padding--icon                  : 0 $spacer !default;
$button-icon-size                      : 24px !default;
$button-icon-fill                      : $color-primary !default;
$button-icon-transition                : $transition-base !default;
$button-icon-fill-hover--icon          : $white !default;
$button-bg--icon                       : $white !default;
$button-icon-z-index                   : $z-index-low !default;
$button-text-margin--icon              : 0 $spacer !default;
$button-text-z-index                   : $z-index-low !default;
$button-text-color--icon               : $color-primary !default;
$button-text-color-hover--icon         : $white !default;
$button-font-weight--icon              : $font-weight-normal !default;
$button-text-transform--icon           : none !default;
$button-background-hover--icon         : initial !default;

// Button icon light
$button-icon-fill-hover--icon-light    : $color-primary !default;
$button-before-background--icon-light  : $gray-light !default;
$button-text-color-hover--icon-light   : $color-primary !default;
$button-background-hover--icon-light   : initial !default;

// Button icon border
$button-border--icon-border            : $border-width-base $border-style-base $color-primary !default;
$button-border-hover--icon-border      : $button-border--icon-border !default;
$button-background--icon-border        : $button-bg--icon !default;
$button-background-hover--icon-border  : $button-background-hover--icon !default;

%button-before::before {
  position: absolute;
  top: $button-before-position-top;
  bottom: $button-before-position-bottom;
  left: $button-before-position-left;
  display: $button-before-display;
  width: $button-before-width;
  background-color: $button-before-background;
  transform: $button-before-transform;
  transform-origin: $button-before-transform-origin;
  transition: $button-transition;
  content: $button-before-content;
  pointer-events: none;
}
