@import 'Button-variables';

.a-button {
  @extend %button-before;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: $button-min-size;
  min-height: $button-min-size;
  padding: $button-padding;
  color: $button-text-color;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  font-family: $button-font-family;
  line-height: $button-line-height;
  text-align: center;
  text-transform: $button-text-transform;
  text-decoration: $button-text-decoration;
  background-color: $button-background;
  border: $button-border;
  border-radius: $button-border-radius;
  outline: $button-outline;
  transform: $button-transform;
  cursor: pointer;
  transition: $button-transition;

  &:hover {
    text-decoration: $button-text-decoration-hover;
    background-color: $button-background-hover;

    &::before {
      z-index: -1;
      display: $button-before-display-hover;
      transform: $button-before-transform-hover;
    }
  }

  &:disabled,
  &[disabled] {
    color: $button-text-color;
    background-color: $button-background-disabled;
    border-color: $button-background-disabled;
    cursor: not-allowed;

    .a-icon {
      fill: $button-text-color;
    }

    &:hover {
      background-color: $button-background-disabled;

      &::before {
        display: none;
      }
    }
  }

  &--light {
    font-weight: $button-font-weight--light;
    text-transform: none;
    text-transform: $button-text-transform--light;
  }

  &--secondary {
    color: $button-color--secondary;
    background-color: $button-background--secondary;
    border: $button-border--secondary;

    &:hover {
      color: $button-color-hover--secondary;
      background-color: $button-background-hover--secondary;

      &::before {
        z-index: $button-before-z-index-hover--secondary;
      }
    }
  }

  &--secondary-light {
    @extend .a-button--secondary;
    @extend .a-button--light;
  }

  &--fluid {
    width: 100%;
  }

  &--link {
    color: $button-color--link;
    text-transform: $button-text-transform--link;
    text-decoration: $button-text-decoration--link;
    background: $button-background--link;

    &:hover {
      color: $button-color-hover--link;
      background: $button-background-hover--link;

      &::before {
        display: $button-before-display-hover--link;
      }
    }
  }

  &--icon {
    min-width: $button-min-size;
    min-height: $button-min-size;
    padding: $button-padding--icon;
    background-color: $button-bg--icon;

    .a-icon {
      z-index: $button-icon-z-index;
      width: $button-icon-size;
      height: $button-icon-size;
      padding: 0;
      transition: $button-icon-transition;
      pointer-events: none;
      fill: $button-icon-fill;
    }

    .a-button__text {
      z-index: $button-text-z-index;
      margin: $button-text-margin--icon;
      color: $button-text-color--icon;
      font-weight: $button-font-weight--icon;
      text-transform: $button-text-transform--icon;
      transition: $button-transition;
      pointer-events: none;
    }

    &:hover {
      color: $button-text-color-hover--icon;
      background-color: $button-background-hover--icon;

      .a-icon,
      .a-button__icon {
        fill: $button-icon-fill-hover--icon;
      }

      .a-button__text {
        color: $button-text-color-hover--icon;
      }
    }
  }

  &--icon-border {
    background-color: $button-background--icon-border;
    border: $button-border--icon-border;

    &:hover {
      background-color: $button-background-hover--icon-border;
      border: $button-border-hover--icon-border;
    }
  }
}
