@import '../../../assets/styles/globals';

$list__style: none !default;

.a-list {
  margin: 0;
  padding: 0;
  list-style: $list__style;

  &--horizontal {
    display: flex;
    flex-flow: row wrap;
  }
}
