@import '../../../assets/styles/globals';

$pagination-margin                         : 0 !default;
$pagination-padding                        : 0 !default;
$pagination__dots-min-width                : 48px !default;
$pagination__dots-min-width--screen-m      : $spacer--large !default;
$pagination__button-color--current         : $color-primary !default;
$pagination__button-font-weight--current   : $font-weight-bold !default;
$pagination__button-font-weight            : $font-weight-normal !default;
$pagination__button-background-color       : transparent !default;
$pagination__button-border                 : none !default;
$pagination__button-color-hover            : $color-primary !default;
$pagination__button-height                 : 48px !default;
$pagination__button-min-width              : 48px !default;
$pagination__button-min-width--screen-m    : $spacer--large !default;
$pagination__button-padding                : 0 $spacer--medium !default;
$pagination__button-padding--screen-m      : 0 !default;
$pagination__button-background-color-hover : transparent !default;
$pagination__icon-width                    : 24px !default;
$pagination__icon-height                   : 24px !default;
$pagination__icon-fill                     : $green !default;
$pagination__icon-fill-disabled            : $gray-light !default;

.a-pagination {
  text-align: center;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: $pagination-margin;
    padding: $pagination-padding;
    list-style-type: none;
  }

  &__dots {
    min-width: $pagination__dots-min-width--screen-m;

    @include mq($screen-m) {
      min-width: $pagination__dots-min-width;
    }
  }

  &__button {
    min-width: $pagination__button-min-width--screen-m;
    height: $pagination__button-height;
    padding: $pagination__button-padding--screen-m;
    font-weight: $pagination__button-font-weight;
    background-color: $pagination__button-background-color;
    border: $pagination__button-border;

    @include mq($screen-m) {
      min-width: $pagination__button-min-width;
      padding: $pagination__button-padding;
    }

    &:focus,
    &:hover {
      color: $pagination__button-color-hover;
      background-color: $pagination__button-background-color-hover;
    }

    &--current {
      color: $pagination__button-color--current;
      font-weight: $pagination__button-font-weight--current;
    }

    &--prev,
    &--next {
      .icon {
        width: $pagination__icon-width;
        height: $pagination__icon-height;
      }

      &:focus:not([disabled]),
      &:hover:not([disabled]) {
        fill: $pagination__icon-fill;
      }

      &[disabled] {
        cursor: default;
        pointer-events: none;

        .a-icon {
          fill: $pagination__icon-fill-disabled;
        }
      }
    }
  }
}
