<div class="filters">
  <alpaca-heading
    :level="1"
    class="filters__heading"
  >
    {{ activeFiltersHeading }}
  </alpaca-heading>

  <alpaca-divider/>

  <div class="filters__active">
    <alpaca-active-filters
      :items="activeFilterItems"
      clear-button="Clear all"
    />
  </div>

  <!--<button-->
    <!--type="button"-->
    <!--class="filters__switcher"-->
    <!--data-state-current="hidden"-->
  <!--&gt;-->
    <!--Shopping Options-->
    <!--{{ render '@icon' switcherIcon }}-->
  <!--</button>-->

  <div class="filters__list filters__list--mobile-hidden dropdown-list">
    <alpaca-heading
      :level="1"
      class="filters__heading filters__heading--mobile-hidden"
    >
      {{ allFiltersHeading }}
    </alpaca-heading>

    <alpaca-divider/>

    <alpaca-dropdown-list
      secondary
    >
      <alpaca-dropdown-list-item title="Shopping Options">
        <alpaca-dropdown-list
          secondary
        >
          <alpaca-checkbox-filter
            title="Checkbox"
            id="checkboxId"
            :items="checkboxItems"
          />
          <alpaca-swatch-filter
            title="Swatch"
            id="swatchId"
            :items="swatchItems"
          />
          <alpaca-color-filter
            title="Color"
            id="colorId"
            :items="colorItems"
          />
        </alpaca-dropdown-list>
      </alpaca-dropdown-list-item>
    </alpaca-dropdown-list>
  </div>
</div>
