@-webkit-keyframes fade-enter {
  from {
    opacity: 0;
  }
}

@keyframes fade-enter {
  from {
    opacity: 0;
  }
}

.fade-enter-active {
  animation: fade-enter 400ms both ease-in;
}

@-webkit-keyframes fade-leave {
  to {
    opacity: 0;
  }
}

@keyframes fade-leave {
  to {
    opacity: 0;
  }
}

.fade-leave-active {
  animation: fade-leave 400ms both ease-out;
}
