$offset: 150px;

@-webkit-keyframes slide-left-enter {
  from {
    -webkit-transform: translate3d($offset, 0, 0);
    transform: translate3d($offset, 0, 0);
    opacity: 0;
  }
}

@keyframes slide-left-enter {
  from {
    -webkit-transform: translate3d($offset, 0, 0);
    transform: translate3d($offset, 0, 0);
    opacity: 0;
  }
}

.slide-left-enter-active {
  -webkit-animation: slide-left-enter both cubic-bezier(0.4, 0, 0, 0);
  animation: slide-left-enter both cubic-bezier(0.4, 0, 0, 0);
}

@-webkit-keyframes slide-left-leave {
  to {
    -webkit-transform: translate3d($offset, 0, 0);
    transform: translate3d($offset, 0, 0);
    opacity: 0;
  }
}

@keyframes slide-left-leave {
  to {
    -webkit-transform: translate3d($offset, 0, 0);
    transform: translate3d($offset, 0, 0);
    opacity: 0;
  }
}

.slide-left-leave-active {
  -webkit-animation: slide-left-leave both;
  animation: slide-left-leave both;
}
