@-webkit-keyframes slide-right-enter {
  from {
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
  }
}

@keyframes slide-right-enter {
  from {
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
  }
}

.slide-right-enter-active {
  -webkit-animation: slide-right-enter both cubic-bezier(0.4, 0, 0, 1.5);
  animation: slide-right-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes slide-right-leave {
  to {
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
  }
}

@keyframes slide-right-leave {
  to {
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
  }
}

.slide-right-leave-active {
  -webkit-animation: slide-right-leave both;
  animation: slide-right-leave both;
}
