@-webkit-keyframes slide-down-enter {
  from {
    transform: translate3d(0, -50px, 0);
  }
}

@keyframes slide-down-enter {
  from {
    transform: translate3d(0, -50px, 0);
  }
}

.slide-down-enter-active {
  animation: slide-down-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes slide-down-leave {
  to {
    transform: translate3d(0, -50px, 0);
  }
}

@keyframes slide-down-leave {
  to {
    transform: translate3d(0, -50px, 0);
  }
}

.slide-down-leave-active {
  animation: slide-down-leave both;
}
