$offset: 50px;

@-webkit-keyframes slide-up-enter {
  from {
    -webkit-transform: translate3d(0, $offset, 0);
    transform: translate3d(0, $offset, 0);
    opacity: 0;
  }
}

@keyframes slide-up-enter {
  from {
    -webkit-transform: translate3d(0, $offset, 0);
    transform: translate3d(0, $offset, 0);
    opacity: 0;
  }
}

.slide-up-enter-active {
  -webkit-animation: slide-up-enter both cubic-bezier(0.4, 0, 0, 0);
  animation: slide-up-enter both cubic-bezier(0.4, 0, 0, 0);
}

@-webkit-keyframes slide-up-leave {
  to {
    -webkit-transform: translate3d(0, $offset, 0);
    transform: translate3d(0, $offset, 0);
    opacity: 0;
  }
}

@keyframes slide-up-leave {
  to {
    -webkit-transform: translate3d(0, $offset, 0);
    transform: translate3d(0, $offset, 0);
    opacity: 0;
  }
}

.slide-up-leave-active {
  -webkit-animation: slide-up-leave both;
  animation: slide-up-leave both;
}
