$offset: 150px;
$animationDuration: 400ms;

@-webkit-keyframes slide-left-enter {
  from {
    transform: translate3d($offset, 0, 0);
    opacity: 0;
  }
}

@keyframes slide-left-enter {
  from {
    transform: translate3d($offset, 0, 0);
    opacity: 0;
  }
}

.slide-left-enter-active {
  animation: slide-left-enter $animationDuration both cubic-bezier(0.4, 0, 0, 0);
}

@-webkit-keyframes slide-left-leave {
  to {
    transform: translate3d($offset, 0, 0);
    opacity: 0;
  }
}

@keyframes slide-left-leave {
  to {
    transform: translate3d($offset, 0, 0);
    opacity: 0;
  }
}

.slide-left-leave-active {
  animation: slide-left-leave $animationDuration both;
}
