@import 'styles/globals';

$catalog__margin                      : $spacer--medium 0 0 0 !default;
$catalog__sidebar-width--mq-medium    : 306px !default;
$catalog__sidebar-margin--mq-medium   : 0 $spacer--medium 0 0 !default;
$catalog__sidebar-border              : 1px solid $gray-lighter !default;
$catalog__products-padding            : 0 0 $spacer--large 0 !default;
$catalog-grid__gap                    : $spacer--medium !default;
$catalog-grid__padding                : $spacer--medium 0 $spacer--large 0 !default;
$catalog-grid__border                 : 1px solid $gray-light !default;
$catalog-list__products-width\@medium : calc(100% - #{$catalog__sidebar-width--mq-medium} - #{$spacer--medium}) !default;

.catalog {
  display: flex;
  flex-direction: column;
  margin: $catalog__margin;

  @include mq($screen-l) {
    flex-direction: row;
  }

  &__sidebar {
    border-bottom: $catalog__sidebar-border;

    @include mq($screen-l) {
      flex: 1 $catalog__sidebar-width--mq-medium;
      justify-content: space-between;
      margin: $catalog__sidebar-margin--mq-medium;
      border-bottom: none;
    }
  }

  .catalog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $catalog-grid__gap;
    margin: $reset;
    padding: $catalog-grid__padding;
    border-bottom: $catalog-grid__border;
    list-style: none;

    @include mq($screen-m) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    margin: $catalog__margin;

    @include mq($screen-l) {
      display: block;
    }

    &__products {
      order: 1;
      padding: $catalog__products-padding;

      @include mq($screen-l) {
        float: right;
        width: $catalog-list__products-width\@medium;
      }
    }

    &__sidebar {
      order: 0;
      border-bottom: $catalog__sidebar-border;

      @include mq($screen-l) {
        margin: $catalog__sidebar-margin--mq-medium;
        border-bottom: none;
        float: left;
        width: $catalog__sidebar-width--mq-medium;
      }
    }
  }
}
