<container>
  <div class="catalog">
    <div class="catalog__sidebar">
      <catalog-filter
        v-for="filter in filters"
        :key="filter.request_var"
        :name="filter.name"
        :items="filter.filter_items"
      />
    </div>
    <div class="catalog__products">
      <ul class="catalog-grid">
        <catalog-grid-item
          v-for="product in products"
          :key="product.sku"
          :name="product.name"
          :image="product.image"
          :price="product.regular_price"
          :special-price="product.special_price"
          :old-price="product.old_price"
          :alt="product.name"
          :href="product.href"
          :text-swatch="product.textSwatch"
          :icon-swatch="product.iconSwatch"
        />
      </ul>
    </div>
  </div>
</container>
