<alpaca-container>
  <alpaca-breadcrumbs :breadcrumbs="breadcrumbs"/>
  <div class="catalog">
    <div class="catalog-list">
      <div class="catalog-list__products">
        <alpaca-toolbar
          show-mode
          show-sorter
          show-limit
          show-amount
          :sort-by="toolbar.sortBy"
          :limiter="toolbar.limiter"
          :amount="toolbar.amount"
          @listView="listView"
          @gridView="gridView"
        />
        <ul class="catalog-grid">
          <alpaca-grid-item
            v-for="product in products"
            :key="product.sku"
            :product="product"
          />
        </ul>
      </div>
      <div class="catalog-list__sidebar">
        <alpaca-filters
          active-filters-heading="Now Shopping by"
          all-filters-heading="Shopping Options"
          :active-filter-items="activeFilterItems"
          :swatch-items="swatchItems"
          :color-items="colorItems"
          :checkbox-items="checkboxItems"
        />
      </div>

    </div>
  </div>
</alpaca-container>
