*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  color: $font-color-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  font-family: $font-family-base;
}

body {
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  flex: 1 0 auto;
}

p {
  margin: 0;
  padding: 0;
}

dl,
dt,
dd {
  margin: 0;
}
