@import '../../../assets/styles/_globals.scss';

$image__width                   : 100% !default;
$image__wrapper-background-color: $white !default;

.a-image {
  display: block;
  width: $image__width;
  max-width: $image__width;
}
