<img
  v-if="!usePicture"
  v-bind="$attrs"
  class="a-image"
  :class="[loaded && imgLoadedClass]"
  :src="src"
  :srcset="srcset"
  @load="load"
  @error="error"
>
<picture v-else>
  <!-- @slot List of sources inside picture -->
  <slot v-if="intersected" />
  <!-- @slot List of sources inside picture tag - with placeholder src -->
  <slot v-else name="placeholder" />
  <img
    v-bind="$attrs"
    ref="pictureImg"
    class="a-image"
    :class="[loaded && imgLoadedClass]"
    :src="src"
    :srcset="srcset"
    @load="loadPicture"
    @error="error"
  >
</picture>
