@import '../../../assets/styles/_globals.scss';

$minicart__row-margin-bottom           : $spacer--medium !default;
$minicart__discard-input-height        : 48px !default;
$minicart__discard-input-margin        : 0 0 $spacer 0 !default;
$minicart__discard-input-margin\@small : 0 $spacer $spacer--medium 0 !default;
$minicart__discard-button-margin-bottom: $spacer--medium !default;
$minicart__discard-button-width        : 100% !default;
$minicart__discard-button-width\@small : 176px !default;

.minicart {
  &__product-item {
    padding-bottom: $spacer--medium;

    &:first-child {
      padding-top: $reset;
    }
  }

  &__summary-heading {
    margin-bottom: $spacer--large;
    font-weight: $font-weight-normal;
  }

  &__grand-total-row {
    position: relative;
    font-weight: $font-weight-bold;

    &::before {
      display: block;
      width: 100%;
      height: 1px;
      margin-bottom: $minicart__row-margin-bottom;
      background: $gray-light;
      content: '';
    }
  }

  &__discount {
    @include mq($screen-s) {
      display: flex;
      align-items: flex-end;
    }
  }

  &__discount-input {
    flex-grow: 1;
    margin: $minicart__discard-input-margin;

    @include mq($screen-s) {
      margin: $minicart__discard-input-margin\@small;
    }
  }

  &__discount-input-field {
    height: $minicart__discard-input-height;
  }

  &__discount-button {
    width: $minicart__discard-button-width;
    margin-bottom: $minicart__discard-button-margin-bottom;

    @include mq($screen-s) {
      width: $minicart__discard-button-width\@small;
    }
  }

  &__summary {
    position: relative;
    line-height: $font-line-height;

    [class*='col'] {
      padding: $reset;
    }

    .row {
      margin-bottom: $minicart__row-margin-bottom;
    }
  }

  &__list,
  &__summary {
    margin-bottom: $spacer--extra-large;
  }

  &__return-button {
    @include mq($screen-m) {
      justify-content: flex-start;
      padding-left: $reset;
    }
  }
}
