<div class="quicksearch__wrapper">
  <div class="quicksearch quicksearch--visible">
    <a-button
      class="quicksearch__close-button"
      aria-label="Close quicksearch"
    >
      <a-icon
        class="quicksearch__close-icon"
        icon="close"
      />
    </a-button>

    <a-paragraph class="quicksearch__results">
      {{ resultText }}
      <span class="quicksearch__typed">
        {{ resultTyped }}
      </span>
     </a-paragraph>

    <div class="quicksearch__content">
      <a-paragraph
        v-if="isNoResult"
        class="quicksearch__empty"
      >
        {{ noResultText }}
       </a-paragraph>

      <a-list class="quicksearch__list quicksearch__list--column">
        <a-list-item
          v-for="product in products"
          :key="product.id"
          :element="product"
          class="quicksearch__product"
        >
          <a-link
            :href="product.href"
            class="quicksearch__product-image-wrapper"
          >
            <a-image
              :alt="product.alt"
              :src="product.src"
              class="quicksearch__product-image"
            />
           </a-link>

          <div class="quicksearch__product-details">
            <a-link
              :href="product.href"
              class="quicksearch__link"
              inverted
            >
              <a-heading
                :level="3"
                class="quicksearch__name quicksearch__name--thin"
              >
                {{ product.text }}
               </a-heading>
             </a-link>

            <a-price
              :special-price="product.specialPrice"
              :old-price="product.oldPrice"
            />
          </div>
         </a-list-item>
       </a-list>

      <div class="quicksearch__categories-column">
        <a-list class="quicksearch__list">
          <a-list-item
            v-for="category in categories"
            :key="category.id"
            class="quicksearch__list"
            :element="category"
          >
            <a-link
              class="quicksearch__link"
              :href="category.href"
              inverted
            >
              <a-heading
                :level="3"
                class="quicksearch__name"
              >
                {{ category.title }}
               </a-heading>
             </a-link>

            {{ showItems(category.items) }}
           </a-list-item>
         </a-list>

        <a-list class="quicksearch__list quicksearch__list--below">
          <a-list-item
            v-for="manufacturer in manufacturers"
            :key="manufacturer.id"
            class="quicksearch__manufacturer"
            :element="manufacturer"
          >
            <a-link
              class="quicksearch__link"
              :href="manufacturer.href"
              inverted
            >
              <a-heading
                :level="3"
                class="quicksearch__name"
              >
                {{ manufacturer.title }}
               </a-heading>
             </a-link>

            {{ showItems(manufacturer.items) }}
           </a-list-item>
         </a-list>
      </div>
    </div>

    <a-button
      class="quicksearch__more-button"
      @click="seeAll"
    >
      {{ 'See All' }}
     </a-button>
  </div>
</div>
