@import '../../../assets/styles/_globals.scss';

$link__color                : $blue !default;
$link__decoration           : underline !default;
$link__font-family          : $font-family-base !default;
$link__font-weight          : $font-weight-normal !default;
$link__color-hover          : $color-secondary !default;
$link__line-height          : $font-line-height !default;
$link__transition           : $transition-base !default;
$link__color--inverted      : $gray-darker !default;
$link__color-hover--inverted: $blue !default;

.a-link {
  color: $link__color;
  font-weight: $link__font-weight;
  font-family: $link__font-family;
  line-height: $link__line-height;
  text-decoration: none;
  transition: $link__transition;

  &:hover,
  &:focus {
    color: $link__color-hover;
  }

  &--inverted {
    color: $link__color--inverted;

    &:hover,
    &:focus {
      color: $link__color-hover--inverted;
    }
  }

  &--secondary {
    color: $gray-lighter;

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }

  &--visually-hidden {
    @include visually-hidden($usePseudo: true);
  }
}

a {
  @extend .link;
}
