<div
  @click.self="handleBackgroundClick"
  :aria-hidden="ariaHidden"
  :class="['modal', { 'modal--active': visibility }]"
  :aria-labelledby="ariaLabelledby"
  :aria-describedby="ariaDescribedby"
  role="dialog"
>
  <div
    :style="getMaxWidth"
    :class="['modal__content', { 'modal__content--blank': blank }]"
    ref="modal"
    role="document"
    tabindex="0"
  >
    <div class="modal__header row between-xs">
      <alpaca-heading
        v-if="!blank"
        :level="1"
        class="modal__heading"
      >
        {{ heading }}
      </alpaca-heading>
      <button
        v-if="closeButton && !blank"
        @click="hide"
        class="button button--icon modal__close-button"
        type="button"
      >
        <alpaca-icon
          icon="close"
          class="modal__close-button-icon"
        />
      </button>
    </div>
    <alpaca-divider
      v-if="!blank"
      class="modal__divider"
    />
    <slot/>
  </div>
</div>
