@import '../../../assets/styles/globals';

$rating__size            : 120px !default;
$rating__size--rate      : $rating__size !default;
$rating__size--large     : 250px !default;
$rating__item-size       : $rating__size / 5 !default;
$rating__item-size--rate : $rating__size--rate / 5 !default;
$rating__item-size--large: $rating__size--large / 5 !default;
$rating__margin--rate    : $spacer--medium !default;

.rating {
  width: $rating__size;

  &:hover,
  &:focus {
    .rating__rate-item span::before {
      display: block;
    }
  }

  &--rate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $rating__size--rate;
    margin-bottom: $rating__margin--rate;

    .rating__rate-item {
      flex: 1 0 $rating__item-size--rate;
    }

    .rating__star {
      width: $rating__item-size--rate;
      height: $rating__item-size--rate;
      background-color: transparent;
      border: 0;
      cursor: pointer;

      &::before {
        width: $rating__item-size--rate;
        height: $rating__item-size--rate;
        background-size: $rating__item-size--rate;

        @include isIE() {
          background-size: $rating__item-size--rate 100%;
        }
      }
    }

    .rating__indicator {
      width: $rating__item-size--rate;
      height: $rating__item-size--rate;

      &::before {
        height: $rating__item-size--rate;
        background-size: $rating__item-size--rate;
      }

      &::after {
        height: $rating__item-size--rate;
        background-size: $rating__item-size--rate;
      }
    }
  }

  &--large {
    .rating {
      &__item {
        flex: 1 0 $rating__item-size--large;
      }

      &__star {
        width: $rating__size--large;
        height: $rating__item-size--large;

        &::before {
          width: $rating__size--large;
          height: $rating__item-size--large;
          background-size: $rating__item-size--large;

          @include isIE() {
            background-size: $rating__item-size--large 100%;
          }
        }

        &--single {
          width: $rating__item-size--large;
        }
      }

      &__indicator {
        width: $rating__size--large;
        height: $rating__item-size--large;


        &::before { // active
          height: $rating__item-size--large;
          background-size: $rating__item-size--large;


          @include isIE() {
            background-size: $rating__item-size--large 100%;
          }
        }

        &::after {
          height: $rating__item-size--large;
          background-size: $rating__item-size--large;

          @include isIE() {
            background-size: $rating__item-size--large 100%;
          }
        }
      }
    }
  }

  &__wrapper {
    border: none;
  }

  &__rate-item {
    position: relative;
    flex: 1 0 $rating__item-size;
    overflow: hidden;

    &:hover,
    &:focus {
      ~ .rating__rate-item span::before {
        display: none;
      }
    }
  }

  &__star {
    position: relative;
    width: $rating__size;
    height: $rating__item-size;

    &::before { // inactive
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: $rating__size;
      height: $rating__item-size;
      text-indent: 10000px;
      background-image: url(../../../assets/images/rate/star.svg);
      background-repeat: repeat-x;
      background-position: left center;
      background-size: $rating__item-size;
      content: '';

      @include isIE() {
        height: 100%;
        background-size: $rating__item-size 100%;
      }
    }
  }

  &__indicator {
    top: 0;
    left: 0;
    display: block;
    width: $rating__size;
    height: $rating__item-size;
    overflow: hidden;
    text-indent: -10000px;

    &::before { // active
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: auto;
      height: $rating__item-size;
      text-indent: 10000px;
      background-image: url(../../../assets/images/rate/active-star.svg);
      background-repeat: repeat-x;
      background-position: left center;
      background-size: $rating__item-size;
      content: '';

      @include isIE() {
        width: 100%;
        height: 100%;
        background-size: $rating__item-size 100%;
      }

      .rating__star--rate & {
        display: none;
      }

      .rating__star--rate:hover &,
      .rating__star--rate:focus &,
      .rating__rate-item--active & {
        display: block;
      }
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: $rating__item-size;
      background-image: url(../../../assets/images/rate/active-star.svg);
      background-repeat: repeat-x;
      background-position: left center;
      background-size: $rating__item-size;
      content: '';

      @include isIE() {
        width: 100%;
        height: 100%;
        background-size: $rating__item-size 100%;
      }

      .rating__star--rate & {
        display: none;
        text-indent: 10000px;
      }
    }
  }
}

