.radio__legend-custom {
  margin-bottom: 10px;
}

.radio__input-custom {
  position: relative;
  opacity: 1;
  margin: 5px 0;
}

.radio__label-custom {
  display: inline;
}

.radio__results {
  margin-top: 10px;
}
