@import '../../../assets/styles/globals';

$icon__padding   : 0 !default;
$icon__transition: $transition-base !default;

.a-icon {
  display: block;
  padding: $icon__padding;
  transition: $icon__transition;
  pointer-events: none;
}
