@import '../../../assets/styles/_globals.scss';

$icon__width         : 24px !default;
$icon__height        : 24px !default;
$icon__padding       : 2px !default;
$icon__padding--reset: 0 !default;

.a-icon {
  display: block;
  width: $icon__width;
  height: $icon__height;
  padding: $icon__padding;

  &--reset {
    padding: $icon__padding--reset;
  }
}
