<div class="quantity-update">
  <label
    v-if="label !== ''"
    class="quantity-update__label"
    :for="inputId"
  >
    {{ label }}
  </label>
  <div class="quantity-update__qty">
    <alpaca-button
      :icon-title="decrementIconTitle"
      :aria-label="decrementAriaLabel"
      :class="[
        'button--icon quantity-update__button quantity-update__button--minus',
        {'quantity-update__button--disabled': currentValue === 0},
        decrementButtonClass
      ]"
      icon="minus"
      icon-class="button__icon quantity-update__icon"
      @click="changeValue(--currentValue)"
    />
    <alpaca-input
      v-model="currentValue"
      :id="inputId"
      :label="inputAriaLabel"
      :min="inputMin"
      :max="inputMax"
      :name="inputName"
      :placeholder="inputPlaceholder"
      :class="inputClass"
      :input-default-class="false"
      type="number"
      input-class="quantity-update__input"
      autocomplete="off"
      hidden-label
    />
    <alpaca-button
      icon="plus"
      :icon-title="incrementIconTitle"
      :aria-label="incrementAriaLabel"
      :class="[
        'button--icon quantity-update__button quantity-update__button--plus',
        incrementButtonClass
      ]"
      icon-class="button__icon quantity-update__icon"
      @click="changeValue(++currentValue)"
    />
  </div>
</div>
