<div class="quantity-update">
  <alpaca-button
    :icon="minusButton.iconId"
    :aria-label="minusButton.ariaLabel"
    :class="['button--icon quantity-update__button quantity-update__button--minus',
               {'quantity-update__button--disabled' : currentValue === 0}
      ]"
    icon-class="button__icon quantity-update__icon"
    @click="decrement"
  />
  <alpaca-input
    :id="input.id"
    v-model="currentValue"
    :label="input.ariaLabel"
    :value="currentValue"
    type="number"
    :name="input.name"
    :placeholder="input.placeholder"
    input-class="quantity-update__input"
    hidden-label
  />
  <alpaca-button
    :icon="plusButton.iconId"
    :aria-label="plusButton.ariaLabel"
    class="button--icon quantity-update__button quantity-update__button--plus"
    icon-class="button__icon quantity-update__icon"
    @click="increment"
  />
</div>
