@import '../../../assets/styles/_globals.scss';

$header__border-color                     : $gray-light !default;
$header__wrapper-padding--mq-medium       : 12px 0 !default;
$header__logo-padding                     : 12px 0 12px $spacer !default;
$header__logo-padding--mq-medium          : 0 0 0 $spacer !default;
$header__buttons-width                    : calc(100% - 48px) !default;
$header__buttons-width--mq-medium         : calc(4 * 48px + 3 * #{$spacer}) !default;
$header__buttons-width--mq-extra-large    : calc(4 * 48px + 3 * #{$spacer--medium}) !default;
$header__search-wrapper-padding           : 0 0 0 24px !default;
$header__search-wrapper-padding--mq-medium: 0 24px !default;

.header {
  position: relative;
  border-bottom: 1px solid $header__border-color;

  @include mq($screen-l) {
    border-bottom: none;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: $reset;

    @include mq($screen-m) {
      padding: $header__wrapper-padding--mq-medium;
    }

    @include mq($screen-l) {
      border-bottom: 1px solid $header__border-color;
    }
  }

  &__logo {
    order: 3;
    padding: $header__logo-padding;
    border-top: 1px solid $header__border-color;

    @include mq($screen-m) {
      padding: $header__logo-padding--mq-medium;
      border-top: none;
    }
  }

  &__search-wrapper {
    display: flex;
    flex: 1 50%;
    flex-flow: column nowrap;
    justify-content: center;
    order: 5;
    padding: $header__search-wrapper-padding;
    border-top: 1px solid $header__border-color;

    @include mq($screen-m) {
      flex-direction: column;
      justify-content: center;
      order: 3;
      padding: $header__search-wrapper-padding--mq-medium;
      border-top: none;
    }
  }

  &__minicart {
    position: relative;
  }

  &__minicart-content {
    top: calc(100% - 1px);

    &.popup {
      position: absolute;
      right: 0;
    }
  }

  &__side-menu {
    .off-canvas-sidebar__content {
      display: flex;
      flex-direction: row-reverse;
    }

    .off-canvas-sidebar__header {
      position: absolute;
      z-index: 10;
    }

    .side-menu {
      flex: 1;
    }

    .side-menu__item--prev {
      padding-right: 30px;
    }
  }

  &__buttons {
    display: flex;
    flex: 1 $header__buttons-width;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    order: 2;
    max-width: $header__buttons-width;

    @include mq($screen-m) {
      flex: 1 $header__buttons-width--mq-medium;
      order: 4;
      max-width: $header__buttons-width--mq-medium;
    }

    @include mq($screen-xl) {
      flex: 1 $header__buttons-width--mq-extra-large;
      max-width: $header__buttons-width--mq-extra-large;
    }
  }

  &__mobile-menu {
    @include mq($screen-xl) {
      display: none;
    }
  }
}
