@import '../../../assets/styles/globals';

$list__style                   : none !default;
$list__item-padding            : $spacer 0 !default;
$list__item-padding--horizontal: $spacer !default;
$list__item-padding--native    : 0 0 $spacer--medium $spacer--large !default;

.list {
  margin: $reset;
  padding: $reset;
  list-style: $list__style;

  &--horizontal {
    display: flex;
    flex-flow: row wrap;

    .list__item {
      padding: $list__item-padding--horizontal;

      &:first-child {
        padding-top: $list__item-padding--horizontal;
      }

      &:last-child {
        padding-bottom: $list__item-padding--horizontal;
      }
    }
  }

  &--native {
    .list__item {
      position: relative;
      padding: $list__item-padding--native;

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 12px;
        width: $spacer;
        height: $spacer;
        background-color: $color-primary;
        border-radius: $border-radius;
      }
    }
  }

  &__item {
    display: list-item;
    padding: $list__item-padding;

    &:first-child {
      padding-top: $reset;
    }

    &:last-child {
      padding-bottom: $reset;
    }
  }
}
