@import '../../../assets/styles/globals';

$list__style       : none !default;
$list__item-padding: $spacer $spacer--medium !default;

.list {
  margin: $reset;
  padding: $reset;
  list-style: $list__style;

  &--horizontal {
    display: flex;
    flex-flow: row wrap;
  }

  &--native {
    .list__item {
      position: relative;

      &::before {
        position: absolute;
        top: 12px;
        left: 0;
        width: $spacer;
        height: $spacer;
        background-color: $color-primary;
        border-radius: $border-radius;
        content: "";
      }
    }
  }

  &__item {
    display: list-item;
    padding: $list__item-padding;
  }
}
