<main class="home">
  <alpaca-banner
    class="home__banner-content"
    :link="mainBanner.link"
    :image="mainBanner.image"
    :sources="mainBanner.sources"
  />
  <div class="container">
    <section class="home__banners-handler">
      <alpaca-banner
        v-for="banner in smallBanners"
        :key="banner.id"
        class="home__banner-content"
        :link="banner.link"
        :image="banner.image"
        :sources="banner.sources"
      />
    </section>
    <section class="home__banners-handler">
      <alpaca-banner
        v-for="banner in mediumBanners"
        :key="banner.id"
        class="home__banner-content"
        :link="banner.link"
        :image="banner.image"
        :sources="banner.sources"
      />
    </section>
    <section class="home__brands">
      <alpaca-heading
        :level="headingLevel"
        class="home__cms-block-title"
      >
        {{ heading }}
      </alpaca-heading>
      <alpaca-list class="home__brands-list">
        <alpaca-list-image-item
          v-for="item in imageListElements"
          :key="item.id"
          class="home__brands-list"
          :src="item.image.src"
          :alt="item.image.alt"
        />
      </alpaca-list>
    </section>
    <section class="home__static-block">
      <article class="home__static-text">
        {{ text }}
      </article>
    </section>
  </div>
</main>
