<div class="toolbar">
  <div
    v-if="showMode"
    class="toolbar__mode"
  >
    <alpaca-button
      aria-label="Change to grid view"
      icon="grid"
      icon-class="toolbar__mode-icon toolbar__mode-icon--active"
      class="toolbar__mode-button"
      @click="gridView"
    />
    <alpaca-button
      aria-label="Change to list view"
      icon="list"
      icon-class="toolbar__mode-icon"
      class="toolbar__mode-button"
      @click="listView"
    />
  </div>
  <div
    v-if="sortBy"
    class="toolbar__sorter"
  >
    <alpaca-select
      :id="sortById"
      :options="sortBy"
      :label="sortByLabel"
      :name="sortByName"
      label-class="label toolbar__sorter-label"
      select-class="toolbar__sorter-select select__field-item"
      class="toolbar__sorter-wrapper"
      :selected="sortBy[0].text"
      @change="change"
    />
  </div>
  <div
    v-if="amount"
    class="toolbar__amount"
  >
      <span class="toolbar__amount-content">
        {{ amount.prefix }}
        {{ amount.currentRange }}
        {{ amount.preposition }}
        {{ amount.total }}
      </span>
  </div>
  <div
    v-if="limiter"
    class="toolbar__limiter"
  >
    <alpaca-select
      :id="limiter.id"
      :options="limiter.options"
      :label="limiter.text"
      :name="limiter.name"
      label-class="toolbar__limiter-label"
      select-class="toolbar__limiter-select select__field-item"
      class="toolbar__limiter-wrapper"
      inline-label
      :selected="limiter.options[0].text"
    />
    <span class="toolbar__limiter-suffix">
        {{ limiter.suffix }}
      </span>
  </div>
  <div
    v-if="pager"
    class="toolbar__pager"
  >
    <alpaca-pager
      :page="currentPage"
      :limit="pager.limit"
      :total-size="pager.totalSize"
      @update:page="page => setCurrentPage(page)"
    />
  </div>
</div>
