<form class="a-newsletter">
  <div class="a-newsletter__heading">
    <!-- @slot Heading (Named slot) -->
    <slot name="heading">
      {{ heading }}
    </slot>
  </div>
  <div class="a-newsletter__controls">
    <!-- @slot Input (Named slot) -->
    <slot
      name="input"
      :current-value="currentValue"
    >
      <a-input-wrapper
        v-if="input"
        :input-id="input.field.id"
        class="a-newsletter__input"
      >
        <template #label>
          <a-label
            :for="input.field.id"
            class="a-label--hidden"
          >
            {{ input.label.text }}
          </a-label>
        </template>
        <a-input
          :id="input.field.id"
          class="a-newsletter__field"
          type="text"
          v-model="currentValue"
          :placeholder="input.field.placeholder"
          :name="input.field.name"
        />
      </a-input-wrapper>
    </slot>
    <!-- @slot Button (Scoped slot) -->
    <slot
      name="button"
      :on-submit="onSubmit"
    >
      <a-button
        class="a-newsletter__button"
        @click.native.stop.prevent="onSubmit"
      >
        {{ buttonText }}
      </a-button>
    </slot>
  </div>
  <div class="a-newsletter__agreements">
    <!-- @slot Agreements (Named slot) -->
    <slot name="agreements">
      <a-checkbox
        v-for="checkbox in checkboxes"
        :id="checkbox.name"
        :key="checkbox.name"
        v-model="selected[checkbox.name]"
        value="true"
        unchecked-value="false"
      >
        <span v-html="checkbox.label" />
      </a-checkbox>
    </slot>
  </div>
</form>
