@import '../../../assets/styles/_globals.scss';

$tabs__border-width                    : 1px !default;
$tabs__border-width--large             : 8px !default;

// title
$tabs__title-padding                   : $spacer--medium !default;
$tabs__title-border                    : $tabs__border-width solid $gray-light !default;
$tabs__title-border\@large             : $tabs__border-width--large solid $gray-lightest !default;
$tabs__title-border\@large--active     : $tabs__border-width--large solid $color-primary !default;
$tabs__title-color                     : $gray !default;
$tabs__title-color--active             : $gray-darker !default;
$tabs__title-font-weight\@large        : $font-weight-normal !default;
$tabs__title-font-weight\@large--active: $font-weight-bold !default;
$tabs__title-font-weight               : $font-weight-bold !default;
$tabs__title-background                : $bg-color-base !default;
$tabs__title-background--active        : $gray-lightest !default;
$tabs__title-background\@large-active  : $gray-lightest !default;
$tabs__content-padding                 : $spacer--medium !default;
$tabs__content-padding\@large          : $spacer--large $spacer--extra-large !default;

.tabs {
  display: flex;
  flex-wrap: wrap;

  &__nav-button {
    position: relative;
    flex: 1;
    padding: $tabs__title-padding;
    color: $tabs__title-color;
    font-weight: $tabs__title-font-weight\@large;
    background: $tabs__title-background;
    border: none;
    border-bottom: $tabs__title-border\@large;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      color: $tabs__title-color;
      background: $tabs__title-background;
    }

    &--active {
      color: $tabs__title-color--active;
      font-weight: $tabs__title-font-weight\@large--active;
      background-color: $tabs__title-background\@large-active;
      border-bottom: $tabs__title-border\@large--active;

      &:hover,
      &:active,
      &:focus {
        color: $tabs__title-color--active;
        background: $tabs__title-background--active;
      }
    }
  }

  &__content {
    flex: 100%;
    padding: $tabs__content-padding\@large;
  }
}
