@import '../../../assets/styles/_globals.scss';

$fieldset__border               : none !default;
$fieldset__padding              : 0 !default;
$fieldset__margin               : 0 !default;
$fieldset__legend-padding       : 0 !default;
$fieldset__legend-margin        : 0 0 $spacer--semi-medium !default;
$fieldset__legend-font-size     : $font-size-large !default;
$fieldset__legend-line-height   : $font-line-height !default;

.a-fieldset {
  margin: $fieldset__margin;
  padding: $fieldset__padding;
  border: $fieldset__border;

  &__legend {
    margin: $fieldset__legend-margin;
    padding: $fieldset__legend-padding;
    font-size: $fieldset__legend-font-size;
    line-height: $fieldset__legend-line-height;

    &--hidden {
      @include visually-hidden();
    }
  }
}
