@import '../../../assets/styles/_globals.scss';

$paragraph__margin     : 0 0 $spacer--medium 0 !default;
$paragraph__color      : $color-secondary !default;
$paragraph__font-family: $font-family-base !default;
$paragraph__font-weight: $font-weight-normal !default;
$paragraph__line-height: $font-line-height !default;
$paragraph__font-size  : $font-size-base !default;
$paragraph__transition : none !default;

.a-paragraph {
  margin: $paragraph__margin;
  color: $paragraph__color;
  font-weight: $paragraph__font-weight;
  font-size: $paragraph__font-size;
  font-family: $paragraph__font-family;
  line-height: $paragraph__line-height;
  transition: $paragraph__transition;
}
