@import '../../../assets/styles/_globals.scss';

$range__padding       : $spacer 0 0 0 !default;
$range__input-margin  : $reset !default;
$range__dash-padding  : 0 $spacer--medium 0 $spacer !default;
$range__suffix-padding: 0 $spacer !default;
$range__button-padding: 0 $spacer--extra-large !default;
$range__button-margin : 0 0 $spacer--medium 0 !default;

.range-filter {
  padding: $range__padding;
  overflow: hidden;

  &__inputs-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__dash {
    padding: $range__dash-padding;
    text-align: center;
  }

  &__suffix {
    padding: $range__suffix-padding;
  }

  &__label {
    @include visually-hidden();
  }

  &__input {
    flex-grow: 1;
    width: auto;
    margin: $range__input-margin;
  }

  &__button {
    margin: $range__button-margin;
    padding: $range__button-padding;
  }
}
