<div :class="['dropdown-list', {
  'dropdown-list--inner': inner,
  'dropdown-list--secondary': secondary,
  'dropdown-list--dark': dark,
  'dropdown-list@screen-m dropdown-list--is-open@screen-m': screenM
  }]"
>

  <!--<div class="dropdown-list__list" @click="toggleChildren">-->
    <!--<div :style="indent" :class="labelClasses">-->
      <!--<i v-if="nodes" class="fa" :class="iconClasses"></i>-->
      <!--{{ label }}-->
    <!--</div>-->
  <!--</div>-->

  <button
    class="dropdown-list__label"
    @click="toggleChildren"
  >
    {{ label }}
    <alpaca-icon
      icon="angle-down"
      class="dropdown-list__icon"
    />
  </button>
  <div
    :id="id"
    class="dropdown-list__content"
    :data-content="id"
    :aria-hidden="collapseLocal"
  >
    <slot />
  </div>

  <dropdown-list
    v-if="collapseLocal"
    v-for="node in nodes"
    :nodes="node.nodes"
    :label="node.label"
    :depth="depth + 1"
  >
    {{ node.contentElement }}
  </dropdown-list>
</div>
