$login__fieldset-margin            : 0 0 $spacer 0 !default;
$login__submit-wrapper-margin      : $spacer--large 0 0 0 !default;
$login__submit-button-width        : 100% !default;
$login__submit-button-width\@medium: 240px !default;
$login__register-wrapper-margin    : $spacer 0 0 0 !default;

.login {
  &__fieldset {
    margin: $login__fieldset-margin;
  }

  &__legend {
    @include visually-hidden();
  }

  &__submit-wrapper {
    margin: $login__submit-wrapper-margin;
  }

  &__submit-button {
    width: $login__submit-button-width;

    @include mq($screen-m) {
      width: $login__submit-button-width\@medium;
    }
  }

  &__register-wrapper {
    margin: $login__register-wrapper-margin;
  }
}
