@import 'assets/styles/globals';

$login__fieldset-margin                       : 0 0 $spacer 0 !default;
$login__forgot-password-button-height         : 24px !default;
$login__forgot-password-button-text-decoration: underline !default;
$login__forgot-password-button-color          : $blue !default;
$login__forgot-password-button-color--hover   : $gray-darker !default;
$login__submit-wrapper-margin                 : $spacer--large 0 0 0 !default;
$login__submit-button-width                   : 100% !default;
$login__submit-button-width\@medium           : 240px !default;
$login__register-wrapper-margin               : $spacer 0 0 0 !default;

.login {
  &__fieldset {
    margin: $login__fieldset-margin;
  }

  &__legend {
    @include visually-hidden();
  }

  &__submit-wrapper {
    margin: $login__submit-wrapper-margin;
  }

  &__forgot-password-button {
    height: $login__forgot-password-button-height;
    padding: $reset;
    text-decoration: $login__forgot-password-button-text-decoration;
    color: $login__forgot-password-button-color;

    &:hover,
    &:focus {
      color: $login__forgot-password-button-color--hover;
    }
  }

  &__submit-button {
    width: $login__submit-button-width;

    @include mq($screen-m) {
      width: $login__submit-button-width\@medium;
    }
  }

  &__register-wrapper {
    margin: $login__register-wrapper-margin;
  }
}
