<div class="login">
  <form>
    <alpaca-fieldset
      class="login__fieldset"
      :legend-text="legend"
      legend-class="login__legend"
    >
      <alpaca-input
        id="email"
        v-model="email"
        :label="emailLabel"
        :placeholder="emailPlaceholder"
        type="email"
        name="email"
      />
      <alpaca-input
        id="password"
        v-model="password"
        :label="passwordLabel"
        :placeholder="passwordPlaceholder"
        type="password"
        name="password"
      />
    </alpaca-fieldset>
    <div class="row row--no-margins end-xs">
      <router-link :to="forgetPasswordLink">
        {{ forgetPasswordText }}
      </router-link>
    </div>
    <div class="login__submit-wrapper row row--no-margins center-xs">
      <alpaca-button
        type="submit"
        class="login__submit-button"
        @click.stop.prevent="login"
      >
        {{ submitButton }}
      </alpaca-button>
    </div>
  </form>
  <div class="login__register-wrapper row row--no-margins center-xs">
    <alpaca-button
      class="login__register-button"
      blank
      @click="goToRegister"
    >
      {{ goToRegisterButton }}
    </alpaca-button>
  </div>
</div>
