<div class="breadcrumbs">
  <template v-for="(breadcrumb, i) in breadcrumbs">
      <span
        v-if="breadcrumbs.length === i + 1"
        :key="breadcrumb.name"
        class="breadcrumbs__item"
        :aria-label="breadcrumb.ariaLabel"
        tabindex="0"
      >
        {{ breadcrumb.name }}
      </span>
    <span
      v-else
      :key="breadcrumb.name"
      class="breadcrumbs__item"
    >
        <a
          :href="breadcrumb.href"
          :aria-label="breadcrumb.ariaLabel"
          class="breadcrumbs__link link--invert"
        >
          {{ breadcrumb.name }}
        </a>
      </span>
  </template>
</div>
