<div class="breadcrumbs">
  <template v-for="(breadcrumb, i) in breadcrumbs">
    <span
      v-if="breadcrumbs.length === i + 1"
      :key="breadcrumb.name"
      :aria-label="breadcrumb.ariaLabel"
      class="breadcrumbs__item"
      tabindex="0"
    >
      {{ breadcrumb.name }}
    </span>
    <span
      v-else
      :key="breadcrumb.name"
      class="breadcrumbs__item"
    >
      <router-link
        :to="breadcrumb.href"
        :aria-label="breadcrumb.ariaLabel"
        class="breadcrumbs__link"
      >
        {{ breadcrumb.name }}
      </router-link>
    </span>
  </template>
</div>
