@import '../../../assets/styles/_globals.scss';

$preformatted__padding: 20px !default;
$preformatted__background: $gray-lightest !default;
$preformatted__overflow: scroll !default;
$preformatted__font-family: $font-family-monospace !default;

.preformatted {
  padding: $preformatted__padding;
  overflow: $preformatted__overflow;
  font-family: $preformatted__font-family;
  background: $preformatted__background;
}

pre {
  @extend .preformatted;
}
