.grid-container {
  overflow: hidden;
}

.row {
  min-height: 2em;
  margin-bottom: 8px;
  padding-top: 8px;
  background: #73739c;
}

.row__content {
  margin-bottom: 8px;
  padding: 8px;
  background: #c2c1df;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.col-large .row__content {
  height: 8em;
}
