@import 'assets/styles/globals';

$image__width : 100% !default;
$image__wrapper-background-color: $white !default;

.image {
  display: block;
  width: $image__width;
  max-width: $image__width;
}

img,
picture {
  @extend .image;
}
