<div class="text-lg font-bold">
  <!-- @slot Custom old price (Named slots) -->
  <slot name="oldPrice">
    <del
      v-if="specialPrice && regularPrice"
      :aria-label="`${this.ariaLabelOldPrice} ${this.regularPrice}`"
      class="
        mr-3
        text-xs md:text-sm font-normal text-gray-600 line-through
      "
      :class="oldPriceCustomClass"
    >
      {{ regularPrice }}
    </del>
  </slot>
  <!-- @slot Custom special price (Named slots) -->
  <slot name="specialPrice">
    <ins
      v-if="specialPrice"
      :aria-label="`${this.ariaLabelSpecialPrice} ${this.specialPrice}`"
      class="text-red no-underline"
      :class="specialPriceCustomClass"
    >
      {{ specialPrice }}
    </ins>
  </slot>
  <!-- @slot Custom regular price (Named slot) -->
  <slot name="regularPrice">
    <template v-if="!specialPrice && regularPrice">
      {{ regularPrice }}
    </template>
  </slot>
</div>
