<div class="a-price">
  <!-- @slot Custom old price (Named slots) -->
  <slot name="oldPrice">
    <del
      v-if="specialPrice && regularPrice"
      :aria-label="`${this.ariaLabelOldPrice} ${this.regularPrice}`"
      :class="['a-price__old', oldPriceCustomClass]"
    >
      {{ regularPrice }}
    </del>
  </slot>
  <!-- @slot Custom special price (Named slots) -->
  <slot name="specialPrice">
    <ins
      v-if="specialPrice"
      :aria-label="`${this.ariaLabelSpecialPrice} ${this.specialPrice}`"
      :class="['a-price__special', specialPriceCustomClass]"
    >
      {{ specialPrice }}
    </ins>
  </slot>
  <!-- @slot Custom regular price (Named slot) -->
  <slot name="regularPrice">
    <template v-if="!specialPrice && regularPrice">
      {{ regularPrice }}
    </template>
  </slot>
</div>
