@import '../../../assets/styles/globals';

$price__color                   : $gray-darker !default;
$price__color--special          : $red !default;
$price__color--old              : $gray !default;
$price__font-size               : $font-size-base !default;
$price__font-weight             : $font-weight-bold !default;
$price__special-margin-left     : $spacer--medium !default;
$price__wrapper-font-weight--old: $font-weight-normal !default;
$price__wrapper-font-size--old  : $font-size-small !default;

.price {
  color: $price__color;
  font-size: $price__font-size;

  &__value {
    &--old {
      color: $price__color--old;
      font-weight: $price__wrapper-font-weight--old;
      font-size: $price__wrapper-font-size--old;
      text-decoration: line-through;
    }

    &--special {
      color: $price__color--special;
      font-weight: $price__font-weight;
      text-decoration: none;
    }

    &--old + &--special {
      margin-left: $price__special-margin-left;
    }
  }
}
