<div class="a-rating">
  <a-button
    v-for="item in localItems"
    :key="`item_${item.val}`"
    :class="[
      'a-rating__button a-button--blank',
      (selected === item.val) && 'selected',
       buttonClass
     ]"
    :aria-label="buttonAriaLabel(item.val)"
    @mouseover.native="setActive(item, true)"
    @mouseleave.native="setActive(item, false)"
    @click.native="select(item)"
    :disabled="!!average"
  >
    <!-- @slot Rating item (Scoped slot) -->
    <slot
      name="item"
      :item="item"
    >
      <a-icon
        :style="{fill: item.isActive || item.selected ? activeColor : uncheckedColor}"
        :class="[
          'a-rating__icon',
          item.isActive && 'a-rating__icon--active',
          iconClass
        ]"
      >
        <slot name="customIcon" v-if="showIcon(item)">
          <a-icon-star/>
        </slot>
        <slot name="customUncheckedIcon" v-else>
          <a-icon-star-border />
        </slot>
      </a-icon>
      <a-icon
        v-if="showAverageIcon(item) && !isIE"
        :style="{clipPath: showAverage, fill : !item.isActive && activeColor}"
        :class="[
          'a-rating__icon',
          'a-rating__icon--disabled',
          iconClass
        ]"
        >
          <slot name="disabledIcon">
            <a-icon-star/>
          </slot>
        </a-icon>
    </slot>
  </a-button>
</div>
