<ul class="slide-menu">
  <li
    :class="[
      'slide-menu__item',
      'slide-menu__item--prev',
      { 'slide-menu__item--no-hover' : isRootPosition }
    ]">
    <alpaca-button
      v-if="!isRootPosition"
      class="slide-menu__button slide-menu__button--prev"
      icon-class="slide-menu__icon slide-menu__icon--prev"
      :icon="prevIcon"
      @click="load(prevLevel)"
    >
      {{ currentItem.label }}
    </alpaca-button>
  </li>
  <li class="slide-menu__item slide-menu__item--no-hover">
    <transition-group
      :name="transitionName"
      tag="ul"
      class="slide-menu slide-menu--nested"
    >
      <li
        v-for="item in currentItem.nodes"
        :key="item.level"
        class="slide-menu__item"
      >
        <router-link
          v-if="item.href"
          :to="item.href"
          class="slide-menu__link"
        >
          {{ item.label }}
        </router-link>
        <alpaca-button
          v-if="item.nodes"
          class="slide-menu__button"
          icon-class="slide-menu__icon"
          :icon="nextIcon"
          @click="load(item.level)"
        >
          {{ item.label }}
        </alpaca-button>
      </li>
    </transition-group>
  </li>
</ul>
