@import '../../../assets/styles/_globals.scss';

$pager__list-padding                        : $spacer !default;
$pager__item-margin                         : 0 $spacer !default;
$pager__item-after-height--current          : $spacer !default;
$pager__item-after-background-color--current: $color-primary !default;
$pager__item-after-transition--current      : $transition-base !default;
$pager__item-size                           : 48px !default;
$pager__icon-width                          : 24px !default;
$pager__icon-height                         : 24px !default;
$pager__link-fill-disabled                  : $gray !default;
$pager__link-fill                           : $green !default;

.pager {
  width: 100%;
  text-align: center;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $reset;
    padding: $pager__list-padding;
    list-style-type: none;
  }

  &__item {
    display: flex;
    flex-basis: $pager__item-size;
    justify-content: center;
    align-items: center;
    height: $pager__item-size;
    margin: $pager__item-margin;
    padding: $reset;

    &:first-child {
      margin-left: $reset;
    }

    &:last-child {
      margin-right: $reset;
    }

    &--current {
      position: relative;

      &::after {
        position: absolute;
        bottom: 14px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: $pager__item-after-height--current;
        background-color: $pager__item-after-background-color--current;
        transform-origin: left;
        transition: $pager__item-after-transition--current;
        content: '';
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $pager__item-size;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-radius: 0;

    &:focus,
    &:hover {
      color: $color-primary;
      background-color: transparent;
    }

    &--prev,
    &--next {
      .icon {
        width: $pager__icon-width;
        height: $pager__icon-height;
        fill: $pager__link-fill;
      }

      &:focus:not([disabled]),
      &:hover:not([disabled]) {
        background-color: $color-secondary;
      }
    }

    &[disabled] {
      cursor: default;
      pointer-events: none;

      .icon {
        fill: $pager__link-fill-disabled;
      }
    }
  }
}
