<form class="a-newsletter">
  <a-heading
    :level="3"
    class="a-newsletter__heading"
  >
    {{ heading }}
  </a-heading>
  <div class="a-newsletter__controls">
    <a-input-wrapper
      :input-id="input.field.id"
      class="a-newsletter__input"
    >
      <template #label>
        <a-label
          :for="input.field.id"
          class="a-label--hidden"
        >
          {{ input.label.text }}
        </a-label>
      </template>
      <a-input
        :id="input.field.id"
        class="a-newsletter__field"
        type="text"
        v-model="value"
        :placeholder="input.field.placeholder"
        :name="input.field.name"
      />
    </a-input-wrapper>
    <a-button
      class="a-newsletter__button"
      @click.native.stop.prevent="onSubmit"
    >
      {{ buttonText }}
     </a-button>
  </div>
  <a-checkbox
    v-if="checkbox"
    v-model="checkbox.status"
    :id="checkbox.id"
    :key="checkbox.id"
    :value="checkbox.value"
    name="checkbox.name"
    class="a-newsletter__agreement"
  >
    {{ checkbox.label }}
  </a-checkbox>
</form>
