<component
  :is="itemTag"
  :id="id"
  class="product-item"
>
  <div class="product-item__image">
    <alpaca-image
      :src="image"
      :alt="name"
    />
  </div>
  <div class="product-item__info">
    <div class="product-item__data">
      <router-link
        :to="url"
        class="link link--inverted product-item__name"
      >
        {{ name }}
      </router-link>
      <alpaca-price
        :price="price"
        :special-price="specialPrice"
        :old-price="oldPrice"
        class="product-item__price-wrapper"
        old-price-class="product-item__price-wrapper--old"
        special-price-class="product-item__price-wrapper--special"
      />
      <alpaca-description-list
        v-if="options"
        :elements="options"
        class="product-item__attributes"
      />
    </div>
    <div
      :class="[
        'product-item__actions',
        { 'product-item__actions--to-right': !quantity }
      ]"
    >
      <div
        v-if="quantity"
        class="product-item__qty-wrapper"
      >
        <span class="product-item__qty-text">
          {{ quantity.text }}
        </span>
        <alpaca-quantity-update
          :input="quantity.input"
          :label="quantity.label"
          :decrement-button="quantity.decrementQtyButton"
          :increment-button="quantity.incrementQtyButton"
          decrement-button-class="product-item__qty-button"
          increment-button-class="product-item__qty-button"
          input-class="product-item__qty-input"
          @update="onChange"
        />
      </div>
      <div
        v-if="removeButton"
        class="product-item__action-buttons-wrapper"
      >
        <alpaca-button
          v-if="removeButton"
          icon="remove"
          class="product-item__action-button"
          icon-class="product-item__action-icon"
          :aria-label="removeButton || defaultRemoveBtnAriaLabel"
          custom-class="product-item__actions-item"
          @click="onRemove(id)"
        />
      </div>
    </div>
  </div>
</component>
