<component
  :is="tag"
  class="catalog-list-item"
>
  <alpaca-link :href="href">
    <div class="lazyload-wrapper catalog-list-item__image-wrapper">
      <alpaca-image
        :src="imageSrc"
        :alt="imageAlt"
      />
    </div>
  </alpaca-link>
  <div class="catalog-list-item__main">
    <alpaca-badge
      v-if="badgeText"
      type="badge-type"
      class="catalog-list-item__badge"
    >
      {{ badgeText }}
    </alpaca-badge>
    <div class="catalog-list-item__details">
      <h2 class="catalog-list-item__name">
        <alpaca-link
          href="#"
          class="catalog-list-item__link"
        >
          {{ title }}
        </alpaca-link>
      </h2>
      <div class="catalog-list-item__reviews">
        <!--TODO Add rating component-->
      </div>
    </div>
    <div class="catalog-list-item__price">
      <alpaca-price :price="price" />
    </div>
    <div class="catalog-grid-item__options">
      <alpaca-swatch
        v-if="textSwatch"
        :options="textSwatch"
      />
      <alpaca-swatch
        v-if="iconSwatch"
        :options="iconSwatch"
        image
      />
    </div>
    <div class="catalog-list-item__actions">
      <div class="catalog-list-item__actions-primary">
        <alpaca-button
          @click="addToCart"
        >
          {{ addToCartButton }}
        </alpaca-button>
      </div>
      <div class="catalog-list-item__actions-secondary">
        <alpaca-button
          :icon="buttonWishlist"
          @click="addToWishList"
        />
        <alpaca-button
          :icon="buttonCompare"
          @click="compare"
        />
      </div>
    </div>
  </div>
</component>
