@import '../../../assets/styles/globals';

$message__width                : 320px !default;
$message__padding              : 16px 25px 0 25px !default;
$message__padding-bottom       : 10px !default;
$message__margin-base          : $spacer--medium 0 0 0 !default;
$message__font-size            : $font-size-small !default;
$message__transition           : $transition-base !default;
$message__color                : $white !default;
$message__color-success        : $black !default;
$message__background           : rgba(25, 118, 210, 1) !default;
$message__btn-background       : rgba(255, 255, 255, 0) !default;
$message__background--success  : rgba(105, 220, 161, 1) !default;
$message__background--error    : rgba(211, 47, 47, 1) !default;
$message__border-success       : 1px solid rgba(57, 50, 67, 0.4) !default;
$message__border-bottom        : 1px solid rgba(255, 255, 255, 0.4) !default;
$message__box-shadow           : 0 4px 6px 0 rgba(57, 50, 67, 0.3) !default;
$message__information-font-size: 15px !default;


.message {
  width: $message__width;
  height: auto;
  margin: $message__margin-base;
  padding: $message__padding;
  color: $message__color;
  font-size: $message__font-size;
  background-color: $message__background;
  box-shadow: $message__box-shadow;
  transition: $message__transition;

  &__information {
    padding-bottom: $message__padding-bottom;
    font-weight: $font-weight-bold;
    font-size: $message__information-font-size;
    border-bottom: $message__border-bottom;
  }

  &__actions {
    display: flex;

    &-btn {
      padding: $reset;
      color: white;
      font-weight: $font-weight-normal;
      font-size: $font-size-base;
      text-align: center;
      background: $message__btn-background;
      border: none;

      &:hover {
        background: none;
        cursor: pointer;
      }

      &:last-child {
        font-weight: $font-weight-bold;
      }

      &:nth-child(2) {
        margin-left: auto;
      }
    }
  }

  &--error {
    color: $message__color;
    background-color: $message__background--error;
  }

  &--success {
    color: $message__color-success;
    background-color: $message__background--success;
  }

  &--success &__actions {
    &-btn {
      color: $message__color-success;
    }
  }

  &--success &__information {
    border-bottom: $message__border-success;
  }
}
