<div
  class="message"
  role="alert"
>
  <div class="message__information">
    <!-- @slot Message content -->
    <slot />
  </div>
  <div class="message__actions">
    <slot name="actions">
      <a-button
        class="message__actions-btn button--blank"
        v-if="action1"
        @onClick="action1Event"
      >
        {{ action1 }}
      </a-button>
      <a-button
        class="message__actions-btn button--blank"
        v-if="action2"
        @onClick="action2Event"
      >
        {{ action2 }}
      </a-button>
    </slot>
  </div>
</div>
